<div class="row login">
    <div class="col card-panel z-depth-1 card--login">
        {{{flashError}}}
        {{{flashSuccess}}}

        <div class="row login--img">
            <div class="col s12">
                <img src="/images/logo/azul.png">
            </div>
        </div>

        <section class="row col s12 login--input">
            <form id="register" method="post" action="/register">
                <div class="col s12">
                    <label class="col s12" for="name" >Nombre</label>
                    <input class="validate" type="text" name="name" value="{{prospect.name}}" required>
                </div>
                <div class="col s12">
                    <label class="col s12" for="email">Correo electrónico</label>
                    <input class="validate" type="email" name="email" value="{{prospect.email}}" required>
                </div>
                <div class="col s12">
                    <label class="col s12" for="password">Contraseña</label>
                    <input class="validate" type="password" name="password" id="password" required>
                </div>
                <div class="col s12">
                    <label class="col s12" for="confirmation">Confirmar tu contraseña</label>
                    <input class="validate" type="password" name="confirmation" required>
                </div>
                <div class="col s12">
                    <label class="col s12" for="phone">Teléfono</label>
                    <input class="validate" type="number" name="phone" value="{{prospect.phone}}" required>
                </div>
                <div class="col s12">
                    <label class="col s12" for="cuit">CUIT</label>
                    <input class="validate" type="number" name="cuit" value="{{prospect.cuit}}" required>
                </div>
                <div class="col s12">
                    <button class=" col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Crea tu cuenta</button>
                </div>
                <div class="col s12">
                    <p>¿Ya tenes una cuenta? <a href="/login">Iniciar sesión</a></p>
                </div>
            </form>
        </section>

    </div>
</div>