<div class="login">
    <div class="card-panel z-depth-1 card--login">

        <div class="row login--img">
            <div class="col s8 offset-s2">
                <img src="/images/logo/azul.png">
            </div>
        </div>
        <div class="row col s12 login--input">
            <section class="col s12">
                <h6>Seleccionar el tipo de cuenta que desea crear</h6>
            </section>
            <div class="col s12">
                <a class=" col s12 btn waves-effect waves-light center-align row"
                   href="/web/sign-up">Comprador</a>
            </div>
            <div class="col s12">
                <a class=" col s12 btn waves-effect waves-light center-align row"
                   href="/web/sign-up" >Proveedor</a>
            </div>
        </div>
    </div>
</div>