<div class="row login">
    <div class="col card-panel z-depth-1 card--login">
        {{{flashError}}}
        {{{flashSuccess}}}

        <div class="row login--img">
            <div class="col s12">
                <img src="/images/logo/azul.png">
            </div>
        </div>

        <section class="row col s12 login--input">
            <div class="col s12">
                <p>Se te envío un correo a la cuenta de email que usaste para registrarte.</p>
                <p>Ahí podrás acceder al link par validar tu cuenta de EntrEmp.</p>
            </div>

            <div class="col s12">
                <section class="col s12">
                    <p><a href="/recover">¿Olvidaste tu contraseña?</a></p>
                    <p>Al continuar, aceptas las Condiciones de uso y el Aviso de privacidad de EntrEmp</p>
                </section>
            </div>

            <div class=" login--noregistre">
            </div>
        </section>

    </div>
</div>