<div class="container-fluid home">
    <h3>Frequently Asked Questions</h3>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">description</i>
                ¿Por qué no cobran comisión?
            </div>
            <div class="collapsible-body">
            <span>
                El concepto de EntrEmp no es ser intermediario de compra venta, tampoco nos encargamos del cobro o priorizamos un método de pago. En este tipo de operaciones la flexibilidad es clave. Asimismo el cobro de una comisión ya sea porcentual o un monto fijo iría en contra del objetivo principal del sitio que es incluir a todos los proveedores posibles
            </span>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">description</i>
                ¿Cómo gana dinero Entremp?
            </div>
            <div class="collapsible-body">
            <span>
                Próximamente estaremos ofreciendo como servicio premium, aparte de los servicios actuales, una serie de herramientas de gestión que apunten a mejorar el proceso de compras B2B. Las empresas que nos acompañen en esta etapa tendrán una bonificación especial de este servicio y acceso completo por doce meses una vez implementado. El servicio actual continuará tal y como viene funcionando, sin costo alguno. La version paga dará acceso a las funcionalidades extra.
            </span>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">description</i>
                ¿Cómo me sumo a Entremp?
            </div>
            <div class="collapsible-body">
            <span>
                Podes crear un usuario en www.entremp.com y acceder a múltiples proveedores y publicar tu propio catálogo. Si requieres una carga masiva de productos escribinos a info@entremp.com
            </span>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">description</i>
                ¿Quién tiene acceso a la información de Entremp?
            </div>
            <div class="collapsible-body">
            <span>
                Toda la información brindada a la plataforma se maneja con los mas altos estandares en seguridad. Para mas informacion "Términos y condiciones"
            </span>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">description</i>
                ¿Quién puede publicar en Entremp?
            </div>
            <div class="collapsible-body">
            <span>
                Toda empresa pequeña mediana o grande que provea bienes o servicios. Las publicaciones indican las pautas en caso de haber pedidos mínimos o el tamaño de lote de producto. Se deberán respetar estas indicaciones a la hora de solicitar presupuestos.
            </span>
            </div>
        </li>

    </ul>
</div>

