<div class="container-fluid home">

    <!-- Main Banner -->
    <div class="row flex">
        <div class="col s12 m4 l3"></div>
        <div class="col s12 m4 l6">
            <div class="home--header-img">
                <img src="/images/logo/{{image}}">
            </div>
        </div>
        <div class="col s12 m4 l3"></div>

        <!--<div class="col s6 home--title valign-wrapper">-->
            <!--<div class="row">-->
                <!--<div class="col s12">-->
                    <!--<h2 class="center-align"> EntrEmp </h2>-->
                <!--</div>-->
                <!--<div class="col s12">-->
                    <!--<h3 class="center-align">Comprá y vendé gratis!</h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

  <div class="row">
      <div class="col s12">
          <div class="home--title">
              <h3> Basados en tus busquedas recientes </h3>
          </div>
          <div class="col s12 m4 l3">
              <div class="home--search-img">
                  <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner">
              </div>
          </div>

          <div class="col s12 m4 l3">
              <div class="home--search-img">
                  <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner">
              </div>
          </div>


          <div class="col s12 m4 l3">
              <div class="home--search-img">
                  <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner">
              </div>
          </div>

          <div class="col s12 m4 l3">
              <div class="home--search-img">
                  <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner">
              </div>
          </div>
      </div>

      <div class="col s12">
          <div class="home--title">
              <h3> Basados en tus busquedas recientes </h3>
          </div>

          <div class="col s12 m4 l6">
              <div class="home--search-img">
                  <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner">
              </div>
          </div>

          <div class="col s12 m4 l6">
              <div class="home--search-img">
                  <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner">
              </div>
          </div>
      </div>
  </div>
</div>