<div class="container-fluid home">

    <!-- Main Banner -->
    <div class="row flex">
        <div class="col s12 m4 l3"></div>
        <div class="col s12 m4 l6">
            <div class="home--header-img">
                <img src="/images/logo/{{image}}">
            </div>
        </div>
        <div class="col s12 m4 l3"></div>

    </div>

  <div class="row">
      <div class="col s12">
          <div class="home--title">
              <h3> Productos para la nueva normalidad </h3>
          </div>
          {{#products}}
              <div class="col s12 m4 l3">
                  <h5>{{name}}</h5>
                  <div class="home--search-img">
                      <a href="/buyer/products/{{id}}" target="_blank">
                          <img src="{{mainImage}}">
                      </a>
                  </div>
              </div>
          {{/products}}
      </div>

      <div class="col s12">
          <div class="home--title">
              <h3> Acompañan el desarrollo de EntrEmp </h3>
          </div>

          <div class="col s12 m4 l6">
              <div class="home--search-img">
                  <img src="/images/sponsors/sponsor_01.jpeg">
              </div>
          </div>

          <div class="col s12 m4 l6">
              <div class="home--search-img">
                  <img src="/images/sponsors/sponsor_03.jpeg">
              </div>
          </div>
      </div>
  </div>
</div>