<nav class="header-component header-seller">
    <div class="container-fluid">

        <div class="nav-wrapper">
            <div class="row">

                <div class="col s1">
                    <a href="/web/seller/home" class="brand-logo">
                        <img src="/images/logo/verde.png" style="height: 80px;">
                    </a>
                </div>

                <div class="col s6 header-component--input-search input-field">
                    <a class="btn btn-default btn-seller" href="/web/seller/products">categoria</a>
                    <input value="{{searchCriteria}}"
                           class="form-control autocomplete"
                           placeholder="Search"
                           name="srch-term"
                           id="srch-term"
                           type="text">
                    <span class="header-span"><i class="material-icons">search</i></span>
                </div>

                <div class="col s5 header-component--menu">
                    <ul id="dropdown-user" class="dropdown-content">
                        <li><a href="/web/seller/profile/{{loggedId}}">Ver Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/buyer/home">Cambiar Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/seller/pricings/history">Mis Cotizaciones</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                    <nav class="header-seller">
                        <ul class="right hide-on-med-and-down">
                            <li><a class="modal-trigger data--modify" href="#nuevoProducto">
                                <span style="padding: 5px; border: 2px solid white; border-spacing: 5px;border-collapse: separate;">Cargar Producto</span></a>
                            </li>
                            <!--<li><a href="/web/seller/products/create"><span style="border: 2px solid white; border-spacing: 5px;border-collapse: separate;">Cargar Producto</span></a></li>-->
                            <li><a href="/web/seller/products">Catalogo</a></li>
                            <li><a href="/web/seller/pricings">Cotizaciones</a></li>
                            <li><a href="/web/seller/messages">Mensajes</a></li>
                            <!-- Dropdown Trigger -->
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user">Perfil<i
                                    class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>

{{> ../../modals/new-product}}