<nav class="header-component header-seller">
    <div class="container-fluid">

        <div class="nav-wrapper">
            <div class="row">

                <div class="col s1">
                    <a href="/web/seller/home" class="brand-logo">
                        <img src="/images/logo/verde.png" style="height: 80px;">
                    </a>
                </div>

                <div class="col s6 header-component--input-search">
                    <a class="btn btn-default" href="/web/seller/products">categoria</a>
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <span><i class="material-icons">search</i></span>
                </div>

                <div class="col s5 header-component--menu">
                    <ul id="dropdown-user" class="dropdown-content">
                        <li><a href="/web/seller/profile/usuario1">Ver Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/buyer/home">Cambiar Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/seller/pricings/history">Mis Cotizaciones</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                    <nav class="header-seller">
                        <ul class="right hide-on-med-and-down">
                            <li><a class="modal-trigger data--modify" href="#nuevoProducto">
                                <span style="padding: 5px; border: 2px solid white; border-spacing: 5px;border-collapse: separate;">Cargar Producto</span></a>
                            </li>
                            <!--<li><a href="/web/seller/products/create"><span style="border: 2px solid white; border-spacing: 5px;border-collapse: separate;">Cargar Producto</span></a></li>-->
                            <li><a href="/web/seller/products">Catalogo</a></li>
                            <li><a href="/web/seller/pricings">Cotizaciones</a></li>
                            <li><a href="/web/seller/messages">Mensajes</a></li>
                            <!-- Dropdown Trigger -->
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user">Perfil<i
                                    class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>

<div id="nuevoProducto" class="modal modals-container modals--product">
    <div class="modal-content ">

        <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
            <i class="tiny material-icons close">clear</i>
        </a>

        <h5>Carga un nuevo producto!</h5>

        <div class="row">
            <form id="product" method="post" action="/products" enctype="multipart/form-data">

            <ul class="stepper horizontal">

                <li class="step">
                    <div class="step-title waves-effect">Data</div>
                    <div class="step-content">
                        <div class="col s12">

                            <label for="name">Nombre del producto</label>
                            <input class="validate" type="text" name="name" required>

                            <label for="description" >Descripción</label>
                            <textarea id="newDescription" name="description" class="materialize-textarea"></textarea>
                        </div>

                        <div class="col s12">
                            <p>Selecciona los atributos más acordes al producto que querés publicar</p>
                            <div id="new-attributes-chips" class="chips chips-initial"></div>
                        </div>

                        <input type="hidden" name="attributes" id="new-attributes">


                        <div class="step-actions">
                            <button class="col s5 waves-effect waves-dark btn next-step">Siguiente</button>
                            <div class="col s1"></div>
                            <a href="#!" class="col s5 modal-close waves-effect waves-dark btn btn-flat">Cancelar</a>
                        </div>
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect">Stock</div>
                    <div class="step-content">

                        <div class="col s12">
                            <label for="stock">Stock disponible</label>
                            <input type="number" name="stock" required>

                            <label for="batch">Tamaño del lote</label>
                            <input type="number" name="batch" required>

                            <label for="maximum">Cantidad Máxima</label>
                            <input type="text" name="maximum" required>

                            <label for="minimum">Cantidad mínima</label>
                            <input type="text" name="minimum" required>
                        </div>

                        <div class="step-actions">
                            <button class="col s5 waves-effect waves-dark btn next-step">Siguiente</button>
                            <div class="col s1"></div>
                            <button class="col s5 waves-effect waves-dark btn btn-flat previous-step">Anterior</button>
                        </div>
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect">Tags & Images</div>
                    <div class="step-content">

                        <div class="col s12 modals--sucessCenter">
                            <p>Escriba el nombre de los tags</p>
                            <input type="hidden" name="tags" id="new-tags">
                        </div>

                        <div class="col s12 modals--sucessCenter">
                            <div id="new-tags-chips" class="chips chips-autocomplete"></div>
                        </div>

                        <div class="col s12 modals--sucessCenter">
                            <p>Elija las imagenes a ser cargadas (los archivos seleccionados reemplazaran a los anteriores)</p>
                        </div>

                        <div class="col s12 modals--sucessCenter">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Imágenes</span>
                                    <input type="file" name="images" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Subí una o más imágenes">
                                </div>
                            </div>
                        </div>

                        <div class="step-actions">
                            <button class="col s5 waves-effect waves-dark btn next-step">Siguiente</button>
                            <div class="col s1"></div>
                            <button class="col s5 waves-effect waves-dark btn btn-flat previous-step">Anterior</button>
                        </div>
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect">Certifications</div>
                    <div class="step-content">

                        <div class="col s12 modals--sucessCenter">
                            <p>Escriba el nombre de las certificaciones</p>
                            <input type="hidden" name="certifications" id="new-certifications">
                        </div>

                        <div class="col s12 modals--sucessCenter">
                            <div id="new-certifications-chips" class="chips chips-autocomplete"></div>
                        </div>

                        <div class="step-actions">
                            <button type="submit" id="modal-create"
                                    class="col s5 waves-effect waves-dark btn">Guardar</button>
                            <div class="col s1"></div>
                            <button class="col s5 waves-effect waves-dark btn btn-flat previous-step">Anterior</button>
                        </div>
                    </div>
                </li>

            </ul>

            </form>
        </div>

    </div>
</div>
