<nav class="header-component {{role}}">
    <div class="container-fluid">

        <div class="nav-wrapper">
            <div class="row">

                <div class="col s1">
                    <a href="/web/index" class="brand-logo">
                        <img src="/images/logo/azul.png" style="height: 80px;">
                    </a>
                </div>

                <div class="col s6 header-component--input-search">
                </div>
                <div class="col s4 header-component--menu">
                    <nav>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/web/choose">Sign up!</a></li>
                            <li><a href="/web/login">Log In</a></li>
                            <li><a href="/web/faq">FAQ</a></li>
                            <li><a href="/web/terms-and-conditions">Terminos & Condiciones</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>