<div class="profile">
    <div class="col s12 card--profile">

        <div class="row">
            <div class="col s12">

                <div class="col s12 card-panel z-depth-1 card--profile">
                    <div class="col s12 profile--header">
                        <div class="col s12 profile--img">
                            <div>
                                <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                            </div>
                        </div>
                    </div>
                    <div class=" col s12 profile--data no-divider">
                        <div class="col s8 data--left">
                            <p class="col s6 data--right">Nombre del producto: </p> <p class="col s6 data--left">Sillas negras</p>
                            <p class="col s6 data--right">Descripción: </p> <p class="col s6 data--left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veritatis quis dolores perferendis voluptate, culpa labore voluptas est nisi ullam suscipit iusto excepturi impedit dicta repudiandae. Necessitatibus sed atque sapiente!</p>
                            <p class="col s6 data--right">Categoria: </p> <p class="col s6 data--left">Sillas</p>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalData">Editar</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 card-panel z-depth-1 card--profile">
                    <div class=" col s12 profile--data no-divider">
                        <div class="col s8 data--left">
                            <p class="col s6 data--right">Stock disponible: </p> <p class="col s6 data--left">476 unidades</p>
                            <p class="col s6 data--right">Lote disponible: </p> <p class="col s6 data--left">340</p>
                            <p class="col s6 data--right">Máximo disponible: </p> <p class="col s6 data--left">476 unidades</p>
                            <p class="col s6 data--right">Minimo disponible: </p> <p class="col s6 data--left">76 unidades</p>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalData">Editar</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 card-panel z-depth-1  card--profile">
                    <div class=" col s12 profile--data no-divider">
                        <div class="col s8 data--left">
                            <p class="col s6 data--right">Palabras claves: </p> <p class="col s6 data--left">Sillas, negras, metal Musimundo, mesa, silla, sillita</p>
                            <p class="col s6 data--right">Imagenes </p>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalData">Editar</a>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="col s2 card-panel z-depth-1 cargar--product">
                            <div>
                                <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                            </div>
                        </div>
                        <div class="col s2 card-panel z-depth-1 cargar--product">
                            <div>
                                <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                            </div>
                        </div>
                        <div class="col s2 card-panel z-depth-1 cargar--product">
                            <div>
                                <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                            </div>
                        </div>
                        <div class="col s2 card-panel z-depth-1 cargar--product">
                            <div>
                                <i class="medium material-icons cargar--add">add_a_photo</i>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col s12 card-panel z-depth-1  card--profile">
                    <div class=" col s12 profile--data no-divider">
                        <div class="col s8 data--left">
                            <p class="col s6 data--right">Certificaciones: </p> <p class="col s6 data--left">ISO 9001, ISO 14001 </p>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalData">Editar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
