<!--Collapsable Filter-->
<li class="active">

    <!--Filter Category Header-->
    <div class="collapsible-header">
        <i class="material-icons">expand_more</i>
        <p>Marca</p>
    </div>

    <!--Filter Item Checkbox-->
    <div style="display: block;" class="collapsible-body">
        <label>
            <input type="checkbox" />
            <span>Ikea</span>
        </label>
    </div>

    <!--Filter Item Checkbox-->
    <div style="display: block;" class="collapsible-body">
        <label>
            <input type="checkbox" />
            <span>Sofás y sillones</span>
        </label>
    </div>

    <!--Filter Item Checkbox-->
    <div style="display: block;" class="collapsible-body">
        <label>
            <input type="checkbox" />
            <span>Easy</span>
        </label>
    </div>
</li>
