
.availbl-cotzacns{
  .availbl-cotzacns--header{
    padding-top: $spacing-40 + 20px;
  }
  .availbl-cotzacns-input{
    margin-top: 26px;
    position: relative;
    input, label{
      margin-left: 0;
      width: 95%;
    }

    .material-icons{
      position: absolute;
      right: $spacing-32;
      font-size: $font-size-32;
    }
  }
  .availbl-cotzacns-range{
    margin-top: 0;
    padding-top:$spacing-12;
    .row{
      margin-bottom: 0;
    }
  }
  .availbl-cotzacns-list{
    h4{
      color:$secondary-color;
      margin-bottom: $spacing-32;
    }
    .availbl-cotzacns-items{
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
}