@import '../../settings/variables.scss';
.home {
  padding: $spacing-16 0;
  &--title {
    padding:0 $spacing-12;
    h3{
      color:$blue-400;
      font-size: $font-size-28;
    }
  }

  &--header-img {
    height: 373px;
    margin-bottom: $spacing-40;
    overflow: hidden;
    display:flex;
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &--search-img {
    height: 200px;
    margin-bottom: $spacing-40;
    overflow: hidden;
    display:flex;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

