.messages{
  padding: $spacing-8;
  .messages--history{
    .card-panel{
      padding: 0;
    }
    .messages--history-header{
      padding: $spacing-12 $spacing-24;
      @include flex-between;
      span{
        @include icon-circle-img(40px, $gray-100)
      }
    }
    .messages--history-list{
      
      .input-field{
        padding: $spacing-12 $spacing-24;
        margin-bottom: 0;
      }
      @include flex-column;
      margin-bottom: 0;
      .material-icons{
        position: absolute;
        right: 0px;
        color:$gray-100;
      }
      ul{
        max-height: 57vh;
        overflow: scroll;
      }
      .messages--list-item{
        cursor: pointer;
        padding: $spacing-8 $spacing-16;
        border-bottom: 1px solid $gray-100;
        @include flex-column;
        
        &:hover{
          background: $gray-70;
        }
        .messages--list-item-header{
          @include flex-between;
          align-content: center;
          align-items: center;
          >div{
            @include flex-start;
            .img-container{
              @include icon-circle-img(40px, $gray-250);
              margin-right: 20px;
            }
          }
          >span{
            color:$gray-250;
          }
        }
      }
    }
  }
      .messages--chat{
        min-height: 85vh;
        max-height: 84vh;
        padding: 0;
        overflow: scroll;
        .help-message{
          text-align: center;
          color:$gray-250;
          position: sticky;
          top: 0;
          background: $white;
        }
        .chat{
          padding: $spacing-16;
          @include flex-column;
          p{
            color: $white;
            border-radius: 5px;
            padding: $spacing-16;
            margin-top: 40px;
          }
          .img-container{
            @include icon-circle-img(60px, $gray-250);
            margin-right: 20px;
          }
          li:nth-child(2n+1){
            align-self: flex-end;
            width: 50%;
            .img-container{
              float: right;
              margin: 0;
            }
            p{
              background:$blue-400;
              margin-right: 70px;
            }
          }
          li:nth-child(2n+2){
            width: 50%;

            .img-container{
              float: left;
            }
            p{
              background:$gray-600;
              margin-left: 70px;
            }
          }
        }
      }
}