<script type="application/javascript">
    $('#tags-chips').chips({
        autocompleteOptions: {
            data: {
                {{#tags}}
                    '{{name}}': null,
                {{/tags}}
            },
            limit: Infinity,
            minLength: 1
        }
    });

    $('#attributes-chips').chips({
        autocompleteOptions: {
            data: {
                {{#attributes}}
                    '{{name}}': null,
                {{/attributes}}
            },
            limit: Infinity,
            minLength: 1
        }
    });

    $('#certifications-chips').chips({
        autocompleteOptions: {
            data: {
                {{#certifications}}
                    '{{name}}': null,
                {{/certifications}}
            },
            limit: Infinity,
            minLength: 1
        }
    });

    $('#modal-create').click(function(){
        $('#tags').val(JSON.stringify(M.Chips.getInstance($('#tags-chips')).chipsData));
        $('#attributes').val(JSON.stringify(M.Chips.getInstance($('#attributes-chips')).chipsData));
        $('#certifications').val(JSON.stringify(M.Chips.getInstance($('#certifications-chips')).chipsData));
    });
</script>