.modals-container{
    color: $blue-600;
    border-radius: 10px;
    font-weight: $font-weight-semibold;
    margin: auto;

    .modals--profile{
        width: 500px;
        padding: $spacing-8;
        margin: auto;
    }

    .modals--cotizacion{
        padding: $spacing-20;
        margin: auto;
        width: 550px;
        h5{
            margin-bottom: $spacing-24;
            margin-top: 0px;
        }
        .modal--img{
            height: 150px;
        }
        .modals--subtitle{
            h5{
                font-size: $font-size-20;
                color: black;
                margin: 0px;
                font-size: $font-size-20;
            }
            h6{
                color: $blue-600;
                font-weight: $font-weight-semibold;
                margin: 0px;    
                font-size: $font-size-16;
            }
            p{
                font-size: $font-size-12;
                color: $gray-450;
                margin-top: 0px;
            }
        }
        .modals--cantidad{
            color: $gray-450;
            font-size: $font-size-12;
            margin-top: 0px;
            p{
                margin-top: 0px;
                margin-bottom: 5px;
            }
            div{
                padding: 0px;
                input[type=text]{
                    border: 1px solid $gray-600;
                    padding: 3px;
                    height: $spacing-28;
                }
            }
            .modals--lote{
                p{
                    margin: 0px;
                    margin-left: $spacing-40;
                }
            }
    }
    .modals--disponible{
        color: $gray-450;
        font-size: $font-size-12;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .modals--submit{
        button{
            margin-bottom: 0px;
            margin-top: $spacing-8;
        }
        p{
            margin-top: 0px;
            color: $gray-450;
            font-size: $font-size-12;
        }
        div{
            button{
                margin: auto;
            }
        }
    }

    }

    .modals--footer{
        @include flex-center;
        margin-top: $spacing-20;
        
        .modals--button{
            margin-left: $spacing-20;
        }
    }

}
