<div class="profile">
    <section class="card-panel z-depth-1 card--profile">
        <div class="row">
            <div class="col s12 profile--header">
                <div class="col s12 profile--img--seller">
                    <div>
                        <img src="/images/logo/verde.png">
                    </div>
                </div>
                <div class="col s12">
                    <div class=" col s12 profile--data">
                        <div class="col s12 right-align">
                            <a class="modal-trigger data--modify" href="#modalImage">Modificar</a>
                        </div>
                        <div class="col s12 img--data">
                            <img src="{{image}}" alt="profile" class="circle responsive-img materialboxed"> <!-- notice the "circle" class -->
                        </div>
                    </div>

                    <div class=" col s12 profile--data">
                        <div class="col s8 data--left">
                            <p class="col s6 data--right">Nombre o razón social: </p> <p class="col s6 data--left">{{name}}</p>
                            <p class="col s6 data--right">CUIT: </p> <p class="col s6 data--left">{{cuit}}</p>
                            <p class="col s6 data--right">Teléfono: </p> <p class="col s6 data--left">{{phone}}</p>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalData">Modificar</a>
                        </div>
                    </div>

                    <div class="col s12 profile--data">
                        <div class="col s4">
                            <p class="col s6 data--right">Direcciones:</p>
                        </div>
                        <div class="col s6 data--left">
                            {{#addresses}}
                                <p class="col s6">{{address}}</p>
                                <p class="col s6">{{wrapper}} </p>
                                <a class="col s12 modal-trigger data--modify" href="#edit_{{id}}">Modificar</a>
                                <a class="col s12 modal-trigger data--modify" href="#delete_{{id}}">Eliminar</a>
                            {{/addresses}}

                        </div>
                        <div class="col s2 right-align">
                            <a class="modal-trigger data--modify" href="#modalAddress">Agregar Domicilio</a>
                        </div>
                    </div>

                    <div class=" col s12 profile--data">
                        <div class="col s8">
                            <div class="col s6">
                                <p class="data--right">Certificaciones: </p>
                            </div>
                            <div class="col s6 data--left">
                                {{#certifications}}
                                    <div class="chip" tabindex="0">{{name}}</div>
                                {{/certifications}}
                                <div class="chip" tabindex="0">ISO 14004</div>
                                <div class="chip" tabindex="0">ISO 1909</div>
                            </div>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalCertifications">Modificar</a>
                        </div>
                    </div>

                    <div class=" col s12 profile--data">
                        <div class="col s8">
                            <div class="col s6">
                                <p class="data--right">Mail: </p>
                                <p class="data--right">Clave: </p>
                            </div>
                            <div class="col s6">
                                <p class="data--left">{{mail}}</p>
                                <p class="data--left">*********</p>
                            </div>
                        </div>
                        <div class="col s4 right-align">
                            <a class="modal-trigger data--modify" href="#modalPassword">Modificar</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!--Modal de datos-->
<div id="modalData" class="modal modals-container modals--product">
    <div class="modal-content">

        <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
            <i class="tiny material-icons close">clear</i>
        </a>

        <div class="row">

            <form id="dataForm" method="post" action="/api/users/{{userId}}/data">
                <input type="hidden" name="role" value="seller">
                <div class="col s12">
                    <label for="name">Nombre o Razón social:</label>
                    <input class="validate" type="text" name="name" value="{{name}}">

                    <label for="phone">Teléfono:</label>
                    <input class="validate" type="number" name="phone" value="{{phone}}">

                    <label for="cuit">CUIT/CUIL:</label>
                    <input class="validate" type="number" name="cuit" value="{{cuit}}">

                </div>

                <div class="col s8 push-s2 modals--next">
                    <!--submit con flecha-->
                    <a href="#!" class=" col s5 btn modal-close waves-effect waves-green btn-flat">Cancelar </a>
                    <div class="col s2"></div>
                    <button class=" col s5 btn waves-effect waves-light modals--button"
                            id="editData" type="submit" name="action">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!--Modal Direcciones-->
<div id="modalAddress" class="modal modals-container modals--product">
    <div class="modal-content">

        <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
            <i class="tiny material-icons close">clear</i>
        </a>

        <div class="row">

            <form id="AddressForm" method="post" action="/api/users/{{userId}}/addresses">
                <input type="hidden" name="role" value="seller">

                <div class="col s12">
                    <div class="col s6">
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="country">País:</label>
                            <input class="validate" type="text" name="country" value="{{country}}">
                        </div>
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="state">Provincia:</label>
                            <input class="validate" type="text" name="state" value="{{state}}">
                        </div>
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="street">Calle:</label>
                            <input class="validate" type="text" name="street" value="{{street}}">
                        </div>
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="floor">Piso/ Departamento</label>
                            <input class="validate" type="text" name="floor" value="{{floor}}">
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="cp">Código Postal:</label>
                            <input class="validate" type="number" name="cp" value="{{cp}}">
                        </div>
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="town">Localidad:</label>
                            <input class="validate" type="text" name="town" value="{{town}}">
                        </div>
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="number">Número:</label>
                            <input class="validate" type="number" name="number" value="{{number}}">
                        </div>
                        <div class="col s12">
                            <label class="blue-text darken-4-text" for="contact">Teléfono de contacto</label>
                            <input class="validate" type="tel" name="contact" value="{{contact}}">
                        </div>
                    </div>

                </div>

                <div class="col s8 push-s2 modals--next">
                    <!--submit con flecha-->
                    <a href="#!" class=" col s5 btn modal-close waves-effect waves-green btn-flat">Cancelar </a>
                    <div class="col s2"></div>
                    <button class=" col s5 btn waves-effect waves-light modals--button"
                            id="editData" type="submit" name="action">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--Modal Pasword -->
<div id="modalPassword" class="modal modals-container modals--product">
    <div class="modal-content">

        <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
            <i class="tiny material-icons close">clear</i>
        </a>

        <div class="row">

            <form id="dataForm" method="post" action="/api/users/{{userId}}/password">
                <input type="hidden" name="role" value="seller">

                <div class="col s12">
                    <label for="current">Contraseña actual:</label>
                    <input class="validate" type="password" name="current">

                    <label for="password">Nueva contraseña:</label>
                    <input class="validate" type="password" name="password">

                    <label for="confirmation">Confirmar nueva contraseña:</label>
                    <input class="validate" type="password" name="confirmation">

                </div>

                <div class="col s8 push-s2 modals--next">
                    <!--submit con flecha-->
                    <a href="#!" class=" col s5 btn modal-close waves-effect waves-green btn-flat">Cancelar </a>
                    <div class="col s2"></div>
                    <button class=" col s5 btn waves-effect waves-light modals--button"
                            id="editData" type="submit" name="action">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="modalImage" class="modal modals-container modals--sucess">
    <div class="modal-content">

        <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
            <i class="tiny material-icons close">clear</i>
        </a>

        <div class="row">

            <form id="imageForm" method="post" action="/api/users/{{userId}}/image" enctype="multipart/form-data">
                <input type="hidden" name="role" value="seller">

                <div class="col s12">
                    <h5>Imagenes</h5>
                </div>

                <div class="col s12 modals--sucessCenter">
                    <p>Elija su foto de perfil</p>
                </div>

                <div class="col s12 modals--sucessCenter">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Imagen</span>
                            <input type="file" name="image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Subí tu foto de perfil">
                        </div>
                    </div>
                </div>

                <div class="col s8 push-s2 modals--next">
                    <!--submit con flecha-->
                    <a href="#!" class=" col s5 btn modal-close waves-effect waves-green btn-flat">Cancelar </a>
                    <div class="col s2"></div>
                    <button class=" col s5 btn waves-effect waves-light modals--button"
                            id="editTags" type="submit" name="action">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#addresses}}
    <div id="edit_{{id}}" class="modal modals-container modals--product">
        <div class="modal-content">

            <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
                <i class="tiny material-icons close">clear</i>
            </a>

            <div class="row">

                <form method="post" action="/api/users/{{userId}}/addresses/{{id}}">
                    <input type="hidden" name="role" value="seller">

                    <div class="col s12">
                        <div class="col s6">
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="country">País:</label>
                                <input class="validate" type="text" name="country" value="{{country}}">
                            </div>
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="state">Provincia:</label>
                                <input class="validate" type="text" name="state" value="{{state}}">
                            </div>
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="street">Calle:</label>
                                <input class="validate" type="text" name="street" value="{{street}}">
                            </div>
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="floor">Piso/ Departamento</label>
                                <input class="validate" type="text" name="floor" value="{{floor}}">
                            </div>
                        </div>

                        <div class="col s6">
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="cp">Código Postal:</label>
                                <input class="validate" type="number" name="cp" value="{{cp}}">
                            </div>
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="town">Localidad:</label>
                                <input class="validate" type="text" name="town" value="{{town}}">
                            </div>
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="number">Número:</label>
                                <input class="validate" type="number" name="number" value="{{number}}">
                            </div>
                            <div class="col s12">
                                <label class="blue-text darken-4-text" for="contact">Teléfono de contacto</label>
                                <input class="validate" type="tel" name="contact" value="{{contact}}">
                            </div>
                        </div>

                    </div>

                    <div class="col s8 push-s2 modals--next">
                        <!--submit con flecha-->
                        <a href="#!" class=" col s5 btn modal-close waves-effect waves-green btn-flat">Cancelar </a>
                        <div class="col s2"></div>
                        <button class=" col s5 btn waves-effect waves-light modals--button"
                                id="editData" type="submit" name="action">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div id="delete_{{id}}" class="modal modals-container modals--product">
        <div class="modal-content">

            <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
                <i class="tiny material-icons close">clear</i>
            </a>

            <div class="row">

                <form method="post" action="/api/users/{{userId}}/delete-addresses">
                    <input type="hidden" name="role" value="seller">
                    <input type="hidden" name="addressId" value="{{id}}">
                    <div class="col s12">
                        <p>Estas seguro que deseas eliminar esta dirección?</p>
                        <p>{{address}}</p>
                    </div>

                    <div class="col s8 push-s2 modals--next">
                        <!--submit con flecha-->
                        <a href="#!" class=" col s5 btn modal-close waves-effect waves-green btn-flat">Cancelar </a>
                        <div class="col s2"></div>
                        <button class=" col s5 btn waves-effect waves-light modals--button"
                                type="submit" name="action">Eliminar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{{/addresses}}

