<div class="profile">
    <div class="col s12 card--profile widthNone">

        <div class="row">
            <div class="col s2"></div>

            <div class="col s8">
                <div class="col s12 profileCard--img">
                    <div>
                        <img src="/images/profile/rock.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                </div>
                <div class="col s12 center-align">
                    <p><a href="/web/seller/profile/usuario1/edit">Editar</a></p>
                </div>
                <div class="col s12 card-panel z-depth-1 card--profile">
                    <div class=" col s12 profile--data no-divider">
                        <div class="col s12 data--left">
                            <p class="col s6 data--right">Nombre o razón social: </p> <p class="col s6 data--left">Dwayne Johnson</p>
                            <p class="col s6 data--right">Documento: </p> <p class="col s6 data--left">31483383</p>
                            <p class="col s6 data--right">Teléfono: </p> <p class="col s6 data--left">1168723644</p>
                            <p class="col s6 data--right">CUIT: </p> <p class="col s6 data--left">27-38291193-2</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 card-panel z-depth-1 card--profile">
                    <div class="col s12 profile--data no-divider">
                        <div class="col s6">
                            <p class="col s12 data--right">Direcciones:</p>
                        </div>
                        <div class="col s6 data--left">
                            <p>Avenida del Libertador 2700  </p>
                            <p>Capital Federal, CABA, Argentina </p>
                            <p>Blanco Encalada 900 </p>
                            <p>San Isidro, CABA, Argentina </p>
                            <p><a href="#">Agregar domicilio</a></p>
                        </div>
                    </div>
                </div>

                <div class="col s12 card-panel z-depth-1  card--profile">
                    <div class=" col s12 profile--data no-divider">
                        <div class="col s12">
                            <div class="col s6">
                                <p class="data--right">Mail: </p>
                                <p class="data--right">Clave: </p>
                            </div>
                            <div class="col s6">
                                <p class="data--left">marianogomez@gmail.com</p>
                                <p class="data--left">*********</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s2"></div>
        </div>

    </div>
</div>
