<!--Preview Item-->
<div class="col s12 availbl-cotzacns-items">
    <div class="card-panel #ffffff z-depth-1 card-cotzacns-active">

        <div class="row">

            <!--Preview Image-->
            <div class="col s3 card-cotzacns--img">
                <img class="responsive-img z-depth-1"
                     src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp"
                     alt="comedor">
            </div>

            <!--Preview Description-->
            <div class="col s6 title">
                <h6 class="blue-text">Musimundo</h6>
                <p class="grey-text lighten-1-text"> <span><strong>Precio</strong></span>: $15000</p>
                <p class="grey-text lighten-1-text"> <span><strong>Cantidad</strong></span>: 20 sillas</p>
                <p class="grey-text lighten-1-text"> <span><strong>Plazo de Entrega</strong></span>: 90 días</p>
                <p class="grey-text lighten-1-text"> <span><strong>Cotizado</strong></span>: 02/02/2020</p>
            </div>

            <!--Preview Status-->
            <div class="col s3 status">
                <h6 style="color:#2196F3"> Solicitud activa </h6>

                <div class="row">
                    <a class="waves-effect waves-light btn-small">Descargar Cotización</a>
                </div>

                <div class="row">
                    <a class="waves-effect waves-light btn-small">Solicitar cotización</a>
                </div>

                <div class="row">
                    <a class="status-detail" href="#">Ver detalle</a>
                </div>
            </div>

        </div>

    </div>
</div>
