<!--Catalog-->
<div class="container-fluid home">
    <!--Catalog by Category-->
    <div class="row">
        <div class="home--title">
            <h3>Catálogo</h3>
        </div>

        {{#products}}
            <div class="col s12 m3">

                <div class="card card-products">

                    <!--Preview Image-->
                    <div class="card-image card-products--image z-depth-1">
                        <img alt="Product Preview"
                             class="materialboxed"
                             width="220"
                             height="300"
                             src="{{mainImage}}">
                    </div>

                    <div class="card-products--title">
                        <div>
                            <span class="card-title">{{name}}</span>
                            <p>{{userName}}</p>
                        </div>
                    </div>

                    <!--Rank-->
                    <div class="card-products--ranking">
                        {{#stars}}
                            <i class="material-icons">{{.}}</i>
                        {{/stars}}
                    </div>

                    <!--Description-->
                    <div class="card-products--extra-information">
                        <p>{{description}}</p>
                        <p>Certificaciones: {{certificationsString}}</p>
                        <p> {{maximum}} productos disponibles</p>
                        <a href="/web/seller/products/{{id}}">Ver detalle</a>
                    </div>

                </div>

            </div>
        {{/products}}

    </div>
</div>
