<div class="container-fluid home">
    <div class="row">

        {{> search/filter}}

        <div class="col l9">
            <!--Search Results-->
            <div class="row">
                {{#products}}
                    {{> search/preview}}
                {{/products}}
            </div>

            <!--Pagination-->
            <div class="row">
                <div class="col m4"></div>
                <div class="col m4">
                    <ul class="pagination">
                        {{#pageStatus}}
                            <li class="{{first}}" id="previous"><a class="previous-page"><i class="material-icons">chevron_left</i></a></li>
                        {{/pageStatus}}
                        {{#pages}}
                            <li class="{{status}}"><a class="page-control" data-page="{{value}}">{{value}}</a></li>
                        {{/pages}}
                        {{#pageStatus}}
                            <li class="{{last}}" id="next"><a class="next-page"><i class="material-icons">chevron_right</i></a></li>
                        {{/pageStatus}}
                    </ul>
                </div>
                <div class="col m4"></div>
            </div>
        </div>
    </div>
</div>
