<div class="container-fluid home">
    <div class="row">

        <!--Search Filter-->
        <div class="col s12 m4 l3">
            <ul class="collapsible expandable filter-collapsible">
                <!--Collapsable Filter-->
                <li class="active">
                    <div class="collapsible-header">
                        <i class="material-icons">expand_more</i>
                        <p>Categorias</p>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Sala de estar y comedor</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Muebles para oficinas</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Jardines y exteriores</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Decoración para el hogar</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Cocina</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Dormitorio</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Baño</span>
                        </label>
                    </div>
                </li>

                <!--Collapsable Filter-->
                <li class="active">
                    <div class="collapsible-header">
                        <i class="material-icons">expand_more</i>
                        <p>Marca</p>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Ikea</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Sofás y Sillones</span>
                        </label>
                    </div>
                    <div style="display: block;" class="collapsible-body">
                        <label>
                            <input type="checkbox" />
                            <span>Easy</span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <!--Search Results-->
        <div class="col l9">
            <div class="row">

                <!--Product Preview-->
                <div class="col s12 m3">

                    <div class="card card-products">

                        <!--Preview Image-->
                        <div class="card-image card-products--image z-depth-1">
                            <img alt="Product Preview" src="https://http2.mlstatic.com/silla-eames-blanca-dsw-desillas-D_NQ_NP_744492-MLA31042170212_062019-F.webp">
                        </div>

                        <div class="card-products--title">
                            <div>
                                <span class="card-title">Sillas</span>
                                <p>Ikea</p>
                            </div>

                            <!--Favorite-->
                            <div>
                                <i class="material-icons">favorite_border</i>
                            </div>
                        </div>

                        <!--Rank-->
                        <div class="card-products--ranking">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>

                        <!--Description-->
                        <div class="card-products--extra-information">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae natus</p>
                            <p>Certificaciones: ISO 9001, ISO 14001</p>
                            <p> 479 productos disponibles</p>
                            <a class="waves-effect waves-light btn" href="/web/products/1">Solicitar cotización</a>
                        </div>

                    </div>

                </div>

                <!--Product Preview-->
                <div class="col s12 m3">

                    <div class="card card-products">

                        <!--Preview Image-->
                        <div class="card-image card-products--image z-depth-1">
                            <img alt="Product Preview" src="https://http2.mlstatic.com/silla-eames-blanca-dsw-desillas-D_NQ_NP_744492-MLA31042170212_062019-F.webp">
                        </div>

                        <div class="card-products--title">
                            <div>
                                <span class="card-title">Sillas</span>
                                <p>Ikea</p>
                            </div>

                            <!--Favorite-->
                            <div>
                                <i class="material-icons">favorite_border</i>
                            </div>
                        </div>

                        <!--Rank-->
                        <div class="card-products--ranking">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>

                        <!--Description-->
                        <div class="card-products--extra-information">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae natus</p>
                            <p>Certificaciones: ISO 9001, ISO 14001</p>
                            <p> 479 productos disponibles</p>
                            <a class="waves-effect waves-light btn" href="/web/products/1">Solicitar cotización</a>
                        </div>

                    </div>

                </div>

                <!--Product Preview-->
                <div class="col s12 m3">

                    <div class="card card-products">

                        <!--Preview Image-->
                        <div class="card-image card-products--image z-depth-1">
                            <img alt="Product Preview" src="https://http2.mlstatic.com/silla-eames-blanca-dsw-desillas-D_NQ_NP_744492-MLA31042170212_062019-F.webp">
                        </div>

                        <div class="card-products--title">
                            <div>
                                <span class="card-title">Sillas</span>
                                <p>Ikea</p>
                            </div>

                            <!--Favorite-->
                            <div>
                                <i class="material-icons">favorite</i>
                            </div>
                        </div>

                        <!--Rank-->
                        <div class="card-products--ranking">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>

                        <!--Description-->
                        <div class="card-products--extra-information">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae natus</p>
                            <p>Certificaciones: ISO 9001, ISO 14001</p>
                            <p> 479 productos disponibles</p>
                            <a class="waves-effect waves-light btn" href="/web/products/1">Solicitar cotización</a>
                        </div>

                    </div>

                </div>

                <!--Product Preview-->
                <div class="col s12 m3">

                    <div class="card card-products">

                        <!--Preview Image-->
                        <div class="card-image card-products--image z-depth-1">
                            <img alt="Product Preview" src="https://http2.mlstatic.com/silla-eames-blanca-dsw-desillas-D_NQ_NP_744492-MLA31042170212_062019-F.webp">
                        </div>

                        <div class="card-products--title">
                            <div>
                                <span class="card-title">Sillas</span>
                                <p>Ikea</p>
                            </div>

                            <!--Favorite-->
                            <div>
                                <i class="material-icons">favorite_border</i>
                            </div>
                        </div>

                        <!--Rank-->
                        <div class="card-products--ranking">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>

                        <!--Description-->
                        <div class="card-products--extra-information">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae natus</p>
                            <p>Certificaciones: ISO 9001, ISO 14001</p>
                            <p> 479 productos disponibles</p>
                            <a class="waves-effect waves-light btn" href="/web/products/1">Solicitar cotización</a>
                        </div>

                    </div>

                </div>


                <!--Product Preview-->
                <div class="col s12 m3">

                    <div class="card card-products">

                        <!--Preview Image-->
                        <div class="card-image card-products--image z-depth-1">
                            <img alt="Product Preview" src="https://http2.mlstatic.com/silla-eames-blanca-dsw-desillas-D_NQ_NP_744492-MLA31042170212_062019-F.webp">
                        </div>

                        <div class="card-products--title">
                            <div>
                                <span class="card-title">Sillas</span>
                                <p>Ikea</p>
                            </div>

                            <!--Favorite-->
                            <div>
                                <i class="material-icons">favorite_border</i>
                            </div>
                        </div>

                        <!--Rank-->
                        <div class="card-products--ranking">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>

                        <!--Description-->
                        <div class="card-products--extra-information">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae natus</p>
                            <p>Certificaciones: ISO 9001, ISO 14001</p>
                            <p> 479 productos disponibles</p>
                            <a class="waves-effect waves-light btn" href="/web/products/1">Solicitar cotización</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
