.profile{
    display: flex;
    justify-content: center;
    margin-top: $spacing-20;
    .card--profile{
        width:60%;
        padding: 0px;       
    }
    .profile--header{
        padding: 0px;
        margin-bottom: $spacing-16;
        .profile--img{
            background: #00344c;
            width: 100%;
            padding-top: $spacing-16;
            padding-bottom: $spacing-16;
            @include flex-center;
            div{
                img{
                width: 80px;
                }
            }
        }
    }
    .profile--data{
        border-bottom: 1px solid $gray-250;
        margin-top: $spacing-8;
        margin-bottom: $spacing-8;
        padding: 0px;
        .img--data{
            width: 100%;
            padding-top: $spacing-16;
            padding-bottom: $spacing-16;
            @include flex-center;
            div{
                img{
                width: 80px;
                }
            }
        }
        .data--right{
            font-size: $font-size-14;
            color:$gray-600;
            font-weight: $font-weight-bold;
        }
        .data--left{
            font-size: $font-size-14;
            color:$gray-600;
            font-weight: $font-weight-regular;
            a{
                color: $blue-400;
            }
        }
        .data--modify{
            color: $brand-primary;
            font-size: $font-size-14;
        }
    }
    .data--sumit{
        @include flex-center;
        margin-top:$spacing-20;
        .btn{
            color: $white;
            font-size: $font-size-base;
            font-weight: $font-weight-regular;
        }
    }

}