<!-- Product Preview -->
<div class="col s12 m3">

    <div class="card card-products">

        <!-- Preview Image -->
        <img class="card-image card-products--image z-depth-1 materialboxed"
             src="{{mainImage}}">

        <div class="card-products--title col s12">
            <!-- Product & Seller Name -->
            <div class="col s9">
                <span class="card-title">{{previewName}}</span>
                <p>{{userName}}</p>
            </div>

            <!--Favorite span-->
            <i id="fav_{{id}}" class="material-icons hoverable col s3">favorite_border</i>
        </div>

        <!--Rank-->
        <div class="card-products--ranking">
            {{#stars}}
                <i class="material-icons">{{.}}</i>
            {{/stars}}
        </div>

        <!--Description-->
        <div class="card-products--extra-information">
            <p class="description">{{previewDescription}}</p>
            <p class="certifications    ">Certificaciones: {{certificationsString}}</p>
            <p> {{maximum}} productos disponibles</p>
            <a href="/buyer/products/{{id}}">Ver detalle</a>
        </div>

    </div>

</div>
