	<div class="live-chat">
		<div class="live-chat--header">
			<h4>Mehmet Mert</h4>
		  <i class="material-icons prefix chat-close">close</i>
      <span class="chat-message-counter">3</span>
		</div>
		<div #id="chat" class="chat">
			<div class="chat-history">
				<div class="chat-message ">
					<img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
					<div class="chat-message-content   ">
						<span class="chat-time">13:35</span>
						<h5>John Doe</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
					</div> 
				</div>
				 
				<div class="chat-message ">
					<img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
					<div class="chat-message-content   ">
						<span class="chat-time">13:37</span>
						<h5>Marco Biedermann</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>
					</div> 
				</div> 
				<div class="chat-message ">
					<img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
					<div class="chat-message-content ">
						<span class="chat-time">13:38</span>
						<h5>John Doe</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</div>
			</div>
      <div class="live-chat--footer">
       <div class="input-field col s12">
          <input type="text" placeholder="escribi un mensaje">
        </div>
      </div>
		</div> 
	</div> 



