<div class="login">
    <div class="card-panel z-depth-1 card--login">

        <div class="row login--img">
            <div class="col s8 offset-s2">
                <img src="https://via.placeholder.com/150x150?text=150x150+Logo">
            </div>
        </div>
        <div class="row col s12 login--input">
            <section class="col s12">
                <h6>Seleccionar el tipo de cuenta que desea crear</h6>
            </section>
            <div class="col s12">
                <button class=" col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Comprador</button>
            </div>
            <div class="col s12">
                <button class=" col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Proveedor</button>
            </div>
        </div>
    </div>
</div>