<div class="container">
    <div class="card-panel #ffffff z-depth-1">
        <div class="row">
            <div class="col s2">
                <img class="responsive-img z-depth-1" src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp" alt="comedor">
            </div>
            <div class="col s4">
                <h6 class="indigo-text text-indigo darken-4">Cotizado el 25 de enero de 2019</h6>
                <h5 class="blue-text">Musimundo</h5>
                <p class="grey-text lighten-1-text">465 televisores</p>
                <p class="grey-text lighten-1-text">Caracterizticas: 35 pulgadas, negras, marca Sony</p>
            </div>
            <div class="col s2">
                <p>Certificaciónes: ISO 9001</p>
                <p>IRAM</p>
                <p>ISO 1401</p>
            </div>
            <div class="col s4 right-align">
                <h5 class="#2196f3 blue-text">Cotización aprobada</h5>
                <a class="waves-effect waves-light btn-small">Cotizar nuevamente</a>
                <a href="#">Ver detalle</a>
            </div>
        </div>
    </div>
</div>