<div class="container-fluid messages">

    <div class="row">

        <div class="col s6 m6 l4 messages--history">
            <div class="card-panel #ffffff z-depth-1">

                <div class="messages--history-header">
                    <p>Bandeja de entrada</p>
                    <span>
                        <i class="material-icons">inbox</i>
                    </span>
                </div>

                <div class="messages--history-list">

                    <!--Chat Searchbox-->
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix">search</i>
                        <input placeholder="Buscar contacto" id="chat_searchbox" type="text" class="validate">
                    </div>

                    <!--Open Chats-->
                    <div class="open-chats">
                        <ul>
                            {{#chats}}
                                {{> preview}}
                            {{/chats}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!--Chat History-->
        <div class="col s6 m6 l8">
            <div class="card-panel messages--chat z-depth-1">
                <p class="help-message">Mensajes</p>

                <ul class="chat">
                </ul>
            </div>
        </div>

    </div>

</div>
