<li>
    <a href="/{{role}}/messages/{{chatId}}">
        <div class="col s12 messages--list-item">
            <div class="messages--list-item-header">
                <div>
                <span class="img-container">
                    <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
                </span>
                    <p>{{name}}</p>
                </div>
                <span>{{date}}</span>
            </div>
            <p>
                {{previewMessage}}
            </p>
        </div>
    </a>
</li>