<li class="{{styleClass}}">
    <span class="img-container">
        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
    </span>
    <p>
        {{message}}
    </p>
</li>
