<!--View Card-->
<div class="col s12 m4 l4 card card-detail">
    {{{firstAction}}}
    <div class="card-detail--information">
        <h5> Sillas </h5>
        <h6> Sillas Plegables </h6>
        <p class="detail">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae natus</p>
        {{{secondAction}}}
        <p class="seller"> 479 productos disponibles</p>
        <p class="addres"> <i class="material-icons">location_on</i> 479 productos disponibles</p>
        {{{thirdAction}}}
    </div>
</div>
