<nav class="header-component header-buyer">
    <div class="container-fluid">

        <div class="nav-wrapper">
            <div class="row">

                <div class="col s1">
                    <a href="/web/buyer/home" class="brand-logo">
                        <img src="/images/logo/azul.png" style="height: 80px;">
                    </a>
                </div>

                <div class="col s6 header-component--input-search">
                    <a class="btn btn-default" href="/web/products">categoria</a>
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <span><i class="material-icons">search</i></span>
                </div>

                <div class="col s5 header-component--menu">
                    <ul id="dropdown-user" class="dropdown-content">
                        <li><a href="/web/buyer/profile/usuario1">Ver Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/seller/home">Cambiar Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/buyer/pricings/history">Mis Cotizaciones</a></li>
                        <li class="divider"></li>
                        <li><a href="/web/index">Cerrar Sesión</a></li>
                    </ul>
                    <nav class="header-buyer">
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/web/buyer/pricings/favorites">Favoritos</a></li>
                            <li><a href="/web/buyer/pricings">Cotizaciones</a></li>
                            <li><a href="/web/buyer/messages">Mensajes</a></li>
                            <!-- Dropdown Trigger -->
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user">Perfil<i
                                    class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    </div>
</nav>