<script type="application/javascript">
    $(document).ready(function(){
        $('.materialboxed').materialbox();
        $('.slider').slider();
    });

    $('#imagesModal').modal({
    });

</script>