{{#budgetPending}}
    <p>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#budgetAccept_{{id}}">
            Aprobar Cotización
        </a>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#budgetCancel_{{id}}">
            Rechazar Cotización
        </a>
        <a class="waves-effect waves-light btn"
           href="#">
            Descargar Cotización
        </a>
    </p>
{{/budgetPending}}

{{#pricingPending}}
    <p> Aguardando una respuesta del proveedor</p>
{{/pricingPending}}

{{#approvedWithSample}}
    <p>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#rejectSample_{{id}}">
            Rechazar Muestra
        </a>

        {{#budget}}
            {{#chat}}
                <a class="waves-effect waves-light btn"
                   href="/buyer/messages/{{id}}">
                    Enviar Mensajes
                </a>
            {{/chat}}
            {{^chat}}
                <a class="waves-effect waves-light btn"
                   href="/buyer/messages">
                    Enviar Mensajes
                </a>
            {{/chat}}
        {{/budget}}

        <a class="waves-effect waves-light btn"
           href="#">
            Descargar Cotización
        </a>
    </p>
{{/approvedWithSample}}

{{#approvedWithoutSample}}
    <p>
        {{#budget}}
            {{#chat}}
                <a class="waves-effect waves-light btn"
                   href="/buyer/messages/{{id}}">
                    Enviar Mensajes
                </a>
            {{/chat}}
            {{^chat}}
                <a class="waves-effect waves-light btn"
                   href="/buyer/messages">
                    Enviar Mensajes
                </a>
            {{/chat}}
        {{/budget}}

        <a class="waves-effect waves-light btn"
           href="#">
            Descargar Cotización
        </a>
    </p>
{{/approvedWithoutSample}}

{{#budgetRejected}}
    <p>
        <a class="waves-effect waves-light btn"
           href="#reprice_{{id}}">
            Cotizar nuevamente
        </a>
        {{#budget}}
            {{#chat}}
                <a class="waves-effect waves-light btn"
                   href="/buyer/messages/{{id}}">
                    Ver Mensajes
                </a>
            {{/chat}}
            {{^chat}}
                <a class="waves-effect waves-light btn"
                   href="/buyer/messages">
                    ver Mensajes
                </a>
            {{/chat}}
        {{/budget}}
    </p>
{{/budgetRejected}}

{{#pricingRejected}}
    <p>
        <a class="waves-effect waves-light btn"
           href="#reprice_{{id}}">
            Cotizar nuevamente
        </a>
    </p>
{{/pricingRejected}}