<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">

<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entremp - Compra más facil</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/production/output.css" media="screen,projection" />

</head>

<body>
    {{> common/header/simple}}

    <div class="container">
        <div class="row">
            <h4>
                Contenedor de Modales
            </h4>
            <P>Modales comprador</P>
        </div>
        <div class="row">

            <div class="col s3">
                <a href="#solicitarCotizacion" class=" modal-trigger waves-effect
         waves-light btn">Solicitar cotización</a>
            </div>

            <div class="col s3">
                <a href="#cotizacionSolicitada" class=" modal-trigger waves-effect
         waves-light btn">Cotización solicitada</a>
            </div>



        </div>
        <div class="row">
            <P>Modales Proveedor</P>
        </div>

        <div class="row">
            <div class="col s3">
                <a href="#nuevoProducto" class=" modal-trigger waves-effect
         waves-light btn">Nuevo producto</a>
            </div>

            <div class="col s3">
                <a href="#modalMoreProduct" class=" modal-trigger waves-effect
         waves-light btn">cargar nuevo producto</a>
            </div>

            <div class="col s3">
                <a href="#stockDisponible" class=" modal-trigger waves-effect
         waves-light btn">Stock Disponible</a>
            </div>

            <div class="col s3">
                <a href="#modalCertificado" class=" modal-trigger waves-effect
         waves-light btn">Certificado</a>
            </div>
        </div>

        <div class="row">
            <div class="col s3">
                <a href="#ofrecerCotizacion" class=" modal-trigger waves-effect
         waves-light btn">Cotización</a>
            </div>
        </div>
    </div>
    </div>

    <!--               MODALES                          -->

    <!--modal solicitar cotización-->

    <div id="solicitarCotizacion" class="modal modals-container modals--cotizacion">
        <div class="modal-content">
            <div class="row">
                <i class="tiny material-icons close">clear</i>
                <div class="col s12">
                    <h5> Solicitar cotización!</h5>
                </div>
                <div class="col s12">
                    <div class="col s3 z-depth-1 modal--img">
                        <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                    </div>
                    <div class="col s9">
                        <div class="col s12 modals--subtitle">
                            <h5>Mesa y sillas</h5>
                            <h6>Musimundo</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="col s12 modals--cantidad">
                            <p>Ingrese la cantidad de unidades a solicitar.</p>
                            <div class="col s5 modals--inputArchivo">
                                <input type="text" name="" id="" placeholder="10 unidades">
                            </div>
                            <div class="col s5 modals--lote">
                                <p>Lote: xx</p>
                                <p>Max:xx</p>
                            </div>
                        </div>
                        <div class="col s12">
                            <p class="modals--disponible">(800 disponibles)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <textarea name="" id="" cols="12" rows="5"></textarea>
            </div>
            <div class="col s12 modals--submit">
                <button class="btn waves-effect waves-light center-align" type="submit" name="action">Cargar archivo</button>
                <p>El archivo debe ser inferior a 500MB</p>
            </div>
            <div class="col s12 modals--footer">
                <button href="#modalSucess" class=" modal-trigger btn waves-effect waves-light" type="submit"
                        name="action">Solicitar cotización</button>
            </div>

        </div>
    </div>
    </div>

    <!--modal cotización solicitada-->

    <div id="cotizacionSolicitada" class="modal modals-container modals--sucess">
        <div class="modal-content ">
            <i class="tiny material-icons close">clear</i>
            <div class="row">
                <div class="col s12">
                    <h5>Cotización solicitada con éxito!</h5>
                </div>
                <div class="col s12 modals--sucessCenter">
                    <p>La cotización ya fue solicitada al proveedor</p>
                </div>
                <div class="col s12 modals--detail">
                    <h6>DETALLE:</h6>
                    <p>Producto: 456 sillas negras</p>
                    <p>Proveedor: Musimundo</p>
                    <p>Fecha de cotización: 02/06/2019</p>
                </div>
            </div>
        </div>
    </div>

    <!--modal cargar un nuevo producto-->

    <div id="nuevoProducto" class="modal modals-container modals--product">
        <div class="modal-content ">
            <i class="tiny material-icons close">clear</i>
            <div class="row">
                <div class="col s12">
                    <h5>Carga un nuevo producto!</h5>
                    <label for="productname">Nombre del producto:</label>
                    <input type="text" name="productname" id="" placeholder="Ej:Televisiones led">

                    <label for="description">Descripción:</label>
                    <input type="text" name="description" id=""
                           placeholder="loremipsum loremipsum  loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum">
                </div>
                <!--Categorias-->
                <div class="col s12">
                    <div class="input-field modals--select">
                        <select>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Categorias</label>
                    </div>
                    <p>Selecciona la categoria más acorde al producto que querés publicar</p>
                </div>

                <div class="col s12 modals--next">
                    <!--submit con flecha-->
                    <a href="#"> Siguiente </a><i class="small material-icons modals--arrow">navigate_next</i>
                </div>
            </div>

        </div>
    </div>

    <!-- Stock disponible-->

    <div id="stockDisponible" class="modal modals-container modals--product">
        <div class="modal-content">
            <i class="tiny material-icons close">clear</i>
            <div class="row">
                <div class="col s12">
                    <label for="stock">Stock disponible</label>
                    <input type="number" name="stock" id="" placeholder="Ej:476">

                    <label for="size">Tamaño del lote</label>
                    <input type="number" name="size" id="" placeholder="Ej:476">

                    <label for="maxAmount">Cantidad Máxima</label>
                    <input type="text" name="maxAmount" id="" placeholder="Ej:476">

                    <label for="minAmount">Cantidad mínima</label>
                    <input type="text" name="minAmount" id="" placeholder="Ej:476">

                    <label for="timeSend">Tiempo estimado de entrega</label>
                    <input type="text" name="timeSend" id="" placeholder="Ej:476">
                    <p>El plazo de entrega del producto de esta cotización se confirma al momento de recibir su pedido</p>
                </div>
                <div class="col s12 modals--next">
                    <!--submit con flecha-->
                    <a href="#"> Siguiente </a><i class="small material-icons modals--arrow">navigate_next</i>
                </div>
            </div>
        </div>
    </div>

    <!--modal cargar un nuevo producto-->

    <div id="modalMoreProduct" class="modal modals-container modals--AddProduct">
        <div class="modal-content">
            <i class="tiny material-icons close">clear</i>
            <div class="row">
                <div class="col s12">
                    <label for="productname">Palabras clave:</label>
                    <input type="text" name="productname" id="" placeholder="Ej:Televisiones led">
                </div>
                <div class="col s12">
                    <p class="col s2 modals--CargaSubtitle">Imágenes</p>
                    <p class="col s8">adjuntar imágenes del producto. Preferentemente en alta calidad</p>
                </div>
                <div class="col s12 modals--CargaImg">
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                    <div class="col s2 card-panel z-depth-1 cargar--product">
                        <div>
                            <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>
                        </div>
                    </div>
                </div>
                <div class="col s12 modals--next">
                    <!--submit con flecha-->
                    <a href="#"> Siguiente </a><i class="small material-icons modals--arrow">navigate_next</i>
                </div>
            </div>
        </div>
    </div>

    <!--modal certificación-->
    <div id="modalCertificado" class="modal modals-container modals--sucess">
        <div class="modal-content">
            <i class="tiny material-icons close">clear</i>
            <div class="row">
                <div class="col s12">
                    <h5>Certificaciones del producto</h5>
                </div>
                <div class="col s12 modals--sucessCenter">
                    <p>Escriba el nombre de la certificación o seleccione una de las opciones debajo</p>
                    <input type="text" placeholder="Ej: ISO 9001">
                </div>
                <div class="col s12 modals--detail">
                    <div class="col s3 modals--mout">
                        <div class="chip modals--chips">
                            ISO 9001
                        </div>
                    </div>
                    <div class="col s3 modals--mout">
                        <div class="chip modals--chips">
                            ISO 14001
                        </div>
                    </div>
                    <div class="col s3 modals--mout">
                        <div class="chip modals--chips">
                            API XX
                        </div>
                    </div>
                    <div class="col s3 modals--mout">
                        <div class="chip modals--chips">
                            OHSA 1801
                        </div>
                    </div>
                </div>
                <div class="col s12 modals--footer">
                    <button class=" col s4 btn waves-effect waves-light modals--button" type="submit" name="action">Guardar</button>
                    <button class=" col s4 btn waves-effect waves-light modals--button" type="submit"
                            name="action">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal ofrecer cotización -->
    <div id="ofrecerCotizacion" class="modal modals-container modals--send">
        <div class="modal-content">
            <div class="row">
                <i class="tiny material-icons close">clear</i>

                <div class="col s12 z-depth-1">
                    <div class="col s3 modal--sendimg">
                        <img src="https://via.placeholder.com/100x100?text=100x100+Logo">
                    </div>
                    <div class="col s9">
                        <div class="col s12 modals--subtitle">
                            <h5>312 sillas</h5>
                            <h6>características: 35 pulgadas, negras, marca Sony</h6>
                            <p>Cotizado 26 de abril de 2018</p>
                            <p class="name">Ramiro Suarez</p>
                            <p class="adress">Capital Federal buenos Aires</p>

                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="col s12 modals--subtitle">
                        <h5>Cotizar</h5>
                    </div>
                    <div class="col s12 modals--infoSend">
                        <div class="col s6 modals--inputcotizacion margin--left">
                            <label class="labelcotizacion" for="price">Precio unitario:</label><p>Sin IVA</p>
                            <input type="text" name="price" placeholder="$ 300">
                        </div>
                        <div class="col s6 modals--inputcotizacion">
                            <label class="labelcotizacion" for="quantity">Cantidad total:</label>
                            <input type="text" name="quantity" placeholder="Ej: 90">
                        </div>
                    </div>

                    <div class="col s12 modals--infoSend">
                        <div class="col s6 modals--inputcotizacion margin--left">
                            <label class="labelcotizacion" >Plazo de entrega:</label><p>Desde confirmación de orden de compra</p>
                            <div class="input-field col s12 modals--selectDay">
                                <select>
                                    <option value="" disabled selected>Días</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="col s6 modals--inputcotizacion">
                            <label class="labelcotizacion">Vigencia de propuesta:</label>
                            <div class="input-field col s6 modals--selectDay">
                                <select>
                                    <option value="" disabled selected>Días</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>

                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Días</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 modals--infoSend">
                        <div class="col s6 modals--inputcotizacion margin--left">
                            <label class="labelcotizacion" for="priceTotal">Precio total:</label><p>Sin IVA</p>
                            <input class="inputQuantity" type="text" name="priceTotal" placeholder="$ 300">
                        </div>
                        <div class="col s6 modals--inputcotizacion">
                            <label class="labelcotizacion">Facturación:</label>
                            <div class="input-field col s12 modals--outmargin">
                                <select>
                                    <option value="" disabled selected>CONSUMIDOR FINAL</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 modals--submitQuantity">
                        <button class="btn waves-effect waves-light center-align" type="submit" name="action">Cargar archivo</button>
                        <p>El archivo debe ser inferior a 500MB</p>
                    </div>
                    <div class="col s12 modals--footer">
                        <button class=" col s3 btn waves-effect waves-light modals--button" type="submit" name="action">Guardar</button>
                        <button class=" col s3 btn waves-effect waves-light modals--button" type="submit"
                                name="action">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="/js/bin/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-trigger').dropdown({
                coverTrigger: false
            });
            $('.modal').modal();
        });
    </script>
</body>

</html>