.filter-collapsible {
  background: transparent;
  box-shadow: none;
  border: none;
  .collapsible-header {
    background: transparent;
    @include flex-between;
    flex-direction: row-reverse;
    border-bottom: 0;
    padding: $spacing-8;
    .material-icons{
      color:$secondary-color;
    }
    p{
      margin: 0;
      color:$primary-color;
    }
  }
  .collapsible-body{
    padding: $spacing-8;
    border-bottom: 0;
  }
  .collapsible-filter-body{
    .collapsible-input{
      height: 2rem !important;
    }
    .btn{
      height:33px !important;
    }
  }
}