@import '../settings/variables.scss';
@import '../settings/mixin.scss';

.header-component{
  box-shadow: none;
  height: 80px;
  background-color: $brand-primary;
.row{
    display: flex;
    margin: 0;
  }
  &--logo{

  }
  &--input-search{
    @include flex-start;
    align-content: center;
    align-items: center;
    position: relative;
    .btn{
      border-radius: 10px 0 0 10px;
      background:#00202e ;
    }
    input[type=text]{
      background-color: $white;
      padding: 0 $spacing-16;
      border: 0;
      height: 36px;
      position: relative;
      border-radius: 0 10px 10px 0;
      margin-bottom: 0;
    }
    span{
      position: absolute;
      right: 24px;
      .material-icons{
        color: $blue-400;
      }
    }
  }
  .header-component--menu{
    height: 100%;
    .nav{
      li{
        @include flex-center;
        a{
          font-size: $font-size-12;
          padding:8px $spacing-12;
        }
      }
    }
  }
}