.modals--cotizacion{
    padding: $spacing-20;
    margin: auto;
    width: 600px;
    
    h5{
        margin-bottom: $spacing-12;
        margin-top: 0px;
    }
    .modal--img{
        height: 150px;
    }
    .modals--subtitle{
        h5{
            font-size: $font-size-20;
            color: black;
            margin: 0px;
            font-size: $font-size-20;
        }
        h6{
            color: $blue-600;
            font-weight: $font-weight-semibold;
            margin: 0px;    
            font-size: $font-size-16;
        }
        p{
            font-size: $font-size-12;
            color: $gray-450;
            margin-top: 0px;
        }
    }
    .modals--cantidad{
        color: $gray-450;
        font-size: $font-size-12;
        margin-top: 0px;
        p{
            margin-top: 0px;
            margin-bottom: 5px;
        }
        .modals--inputArchivo{
            padding: 0px;
            input[type=text]{
                border: 1px solid rgb(169, 169, 169);;
                padding: 3px;
                height: $spacing-28;
            }
        }
        .modals--lote{
            p{
                margin: 0px;
                margin-left: $spacing-40;
            }
        }
}
.modals--disponible{
    color: $gray-450;
    font-size: $font-size-12;
    margin-top: 0px;
    margin-bottom: 0px;
}
.modals--submit{
    button{
        margin-bottom: 0px;
        margin-top: $spacing-8;
    }
    p{
        margin-top: 0px;
        color: $gray-450;
        font-size: $font-size-12;
    }
}
}

.modals--sucess{
    padding: $spacing-20;
    margin: auto;
    width: 450px;
    div{
        h5{
            margin-bottom: $spacing-24;
            margin-top: 0px;
            font-size: $font-size-20;
            margin-bottom: $spacing-8;
            text-align: center;
        }
    }
    .modals--sucessCenter{
        p{
            color: $gray-450;
            font-size: $font-size-12;
            margin-top: 0px;
            @include flex-center;
        }
    }
    .modals--detail{
        h6{
            font-weight: $font-weight-regular;
            margin-top: $spacing-32;
            margin-bottom: $spacing-8;
            font-size: $font-size-16;
        }
        p{
            color: $gray-450;
            font-size: $font-size-12;
            margin-bottom: $spacing-8;
            margin-top: $spacing-8;
        }
    }  
}

.modals--mout{
    margin-left: 0px !important;
    padding: 0px !important;
}
.modals--chips{
    color: $success-green;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #FFF;
}

.modals--product{
    padding: $spacing-20;
    margin: $spacing-12 auto;
    width: 450px;
    div{
        h5{
            margin-bottom: $spacing-24;
            margin-top: $spacing-20;
            font-size: $font-size-20;
            margin-bottom: $spacing-32;
            color: $success-green;
            font-weight: $font-weight-semibold;
            @include flex-center;
        }
        label{
            color: $success-green;
        }
        input{
            font-size: $font-size-14;
            height: $spacing-32;
            margin-bottom: 0px;
        }
        p{
            color: $gray-450;
            font-size: 10px;
        }
    }
    .modals--select{
        color: $success-green;
        div{
            label{
            color: $gray-450;
            font-size: 8px;
        }
        }
    }
}

.modals--AddProduct{
    label{
       color: $success-green; 
    }
    
   .modals--CargaSubtitle{
    color: $success-green;
    margin: 0px;
    padding: 0;
    font-size: $font-size-12;
    }
    p{
        font-size: 10px;
        color: $gray-450;
        margin: 0px;
        padding: 0px;
    }
    .modals--CargaImg{
        .cargar--product{
            margin-right: $spacing-20;
            height: 100px;
            padding: 0px;
            img{
                width: 100%;
            }
        }
        i{
            margin: auto;
            color: $success-green;
            @include flex-center;
        }
    }
}


.modals--send{
    .modal--sendimg{
        margin-top: $spacing-12;
        img{
            width: 100px;
        }
    }
    .modals--subtitle{
        h5{
            color: $success-green;
            margin-bottom: 0px;
        }
        h6{
            color: $gray-450;
            font-size: $font-size-16;
            margin-top: 0px;
        }
        p{
            color: $gray-450;
            font-size: $font-size-12;
            font-weight: $font-weight-regular;
            margin-bottom: 0px;
        }
        .name{
            color: $success-green;
            font-size: $font-size-12;
            margin: 0px;
        }
        .adress{
            color: $gray-450;
            font-size: $font-size-12;
            margin: 0px 0px 10px 0px;
            font-weight: $font-weight-semibold;
        }
    }

    .modals--infoSend{
        margin-top: $spacing-40;
        @include flex-between;
    }

    .margin--left{
        margin-left: 0px !important;
    }

    .modals--inputcotizacion{
        width: 200px !important;
        p{
            color: $gray-450;
            font-size: 10px;
            margin: 0px;
            position: absolute;
        }
        
    }

    .inputQuantity{
        border: 1px solid rgb(169, 169, 169) !important;
        padding: 3px !important;
        height: $spacing-28 !important;
        border-radius: 5px !important;
        height: 21px !important;
        margin-top: 15px !important;
    }
    .modals--submitQuantity{
        button{
            margin-bottom: 0px;
            margin-top: $spacing-8;
        }
        p{
            margin-top: 0px;
            color: $gray-450;
            font-size: $font-size-12;
        }
    }
    .modals--selectDay{
        padding: 0px;
    }

    .modals--outmargin{
        margin-top: 0px;
        padding: 0px;
    }

    .labelcotizacion{
        color: $success-green;
        margin-top: $spacing-16;
        }
    

}

.modals-container{
    color: $blue-600;
    border-radius: 10px;
    font-weight: $font-weight-semibold;
    margin: auto;

    .close{
        color: $gray-450;
        @include flex-end;
    }

    .modals--profile{
        width: 500px;
        padding: $spacing-8;
        margin: auto;
    }


.modals--next{
    // margin-top: $spacing-12;
    @include flex-end;
    a{
        color: $success-green;
    }
    .modals--arrow{
        font-size: $font-size-20;
        color: $success-green;
        @include flex-center;
        }
}




.modals--footer{
    @include flex-center;
    margin-top: $spacing-16;
    .modals--button{
        margin-left: $spacing-24;
    }
}
}