<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>r4</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    {{> partials/components/header }}
    {{> partials/components/cardSolicitudCotizacion }} 
     {{!-- 
   {{> partials/components/verify }}
    {{> partials/view/cardCotizaciones }}
    {{> partials/components/chatbot }}
    {{!-- {{> partials/components/verify }} 
   
   {{> partials/components/createAccount }}
   {{> partials/components/createAccountSelect }}
   {{> partials/components/loginComprador}} 
   {{> partials/components/recoverPassword }}
   {{> partials/components/createProfile }}
   {{> partials/components/profile }}
   {{> partials/view/home }} 

  {{> partials/view/category }}  
 {{> partials/view/productsDetail }}
 {{> partials/components/messageServices }} 
   --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bin/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
    <script>
        (function () {
            $('.live-chat .live-chat--header').on('click', function () {
                $('.chat').slideToggle(300, 'swing');
            });
            $('.chat-close').on('click', function (e) {
                e.preventDefault();
                $('live-chat').fadeOut(300);
            });
        })();
    </script>
    <script>
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
        })
    </script>
</body>

</html>