<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>r4</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    {{> partials/components/header }}
    {{> partials/components/profile }}
     {{!-- {{> partials/components/cardSolicitudCotizacion }}
   {{> partials/components/verify }}
   
   {{> partials/components/createAccount }}
   {{> partials/components/createAccountSelect }}
   {{> partials/components/loginComprador}} 
   {{> partials/components/recoverPassword }}
   {{> partials/components/createProfile }}
   {{> partials/view/home }} 

 {{> partials/view/category }}  
 {{> partials/view/productsDetail }} --}}
 {{> partials/components/messageServices }}  
</body>

</html>