<div class="container availbl-cotzacns">
  <div class="row">
    <div class="col s12 availbl-cotzacns--header">
      <div class="input-field col s8 availbl-cotzacns-input">
        <i class="material-icons prefix">search</i>
        <input placeholder="Cotizacion 25 de enero 2019" type="text" class="autocomplete">
        <label for="first_name">Search</label>
      </div>
      <div class="input-field col s4 card availbl-cotzacns-range">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="dd/mm/aaaa" id="first_name" type="text" class="validate">
            <label for="disabled">Desde</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="dd/mm/aaaa" id="first_name" type="text" class="validate">
            <label for="disabled">Hasta</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row availbl-cotzacns-list">
    <h4>Cards cotizaciónes </h4>
    <div class="col s12 availbl-cotzacns-items">
      <div class="card-panel #ffffff z-depth-1 card-cotzacns-active">
        <div class="row">
          <div class="col s3 card-cotzacns--img">
            <img class="responsive-img z-depth-1"
              src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp"
              alt="comedor">
          </div>
          <div class="col s7 title">
            <h6 class="blue-text">Musimundo</h6>
            <p class="grey-text lighten-1-text"> <span>Precio</span>: 465 televisores</p>
            <p class="grey-text lighten-1-text"> <span>Precio</span>: 465 televisores</p>
            <p class="grey-text lighten-1-text"> <span>Precio</span>: 465 televisores</p>
            <p class="grey-text lighten-1-text"> <span>Precio</span>: 465 televisores</p>

          </div>

          <div class="col s3 status">
            <h6 style="color:#2196F3"> Solicitud activa </h6>
            <a class="waves-effect waves-light btn-small">Solicitar cotización</a>
            <a class="waves-effect waves-light btn-small secondary-button">Solicitar cotización</a>
            <a class="status-detaill" href="#">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 availbl-cotzacns-items">
      <div class="card-panel #ffffff z-depth-1 card-cotzacns">
        <div class="row">
          <div class="col s3 card-cotzacns--img">
            <img class="responsive-img z-depth-1"
              src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp"
              alt="comedor">
          </div>
          <div class="col s4 title">
            <h5> Cotizacion 25 de enero 2019</h5>
            <h6 class="blue-text">Musimundo</h6>
            <p class="grey-text lighten-1-text">465 televisores</p>
            <p class="grey-text lighten-1-text">Caracterizticas: 35 pulgadas, negras, marca Sony</p>
          </div>
          <div class="col s3 description">
            <p>Certificaciónes: ISO 9001</p>
            <p>IRAM</p>
            <p>ISO 1401</p>
          </div>
          <div class="col s3 status">
            <h6 style="color:red"> Cotizacion rechazada</h6>
            <a class="status-detaill" href="#">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 availbl-cotzacns-items">
      <div class="card-panel #ffffff z-depth-1 card-cotzacns">
        <div class="row">
          <div class="row right-align">
            <i class="material-icons">favorite</i>
          </div>
          <div class="col s3 card-cotzacns--img">
            <img class="responsive-img z-depth-1"
              src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp"
              alt="comedor">
          </div>
          <div class="col s4 title">
            <h5> Cotizacion 25 de enero 2019</h5>
            <h6 class="blue-text">Musimundo</h6>
            <p class="grey-text lighten-1-text">465 televisores</p>
            <p class="grey-text lighten-1-text">Caracterizticas: 35 pulgadas, negras, marca Sony</p>
          </div>
          <div class="col s3 description">
            <p>Certificaciónes: ISO 9001</p>
            <p>IRAM</p>
            <p>ISO 1401</p>
          </div>
          <div class="col s3 status">
            <a class="waves-effect waves-light btn-small">Solicitar cotización</a>
            <a class="status-detaill" href="#">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 availbl-cotzacns-items">
      <div class="card-panel #ffffff z-depth-1 card-cotzacns">
        <div class="row">
          <div class="col s3 card-cotzacns--img">
            <img class="responsive-img z-depth-1"
              src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp"
              alt="comedor">
          </div>
          <div class="col s4 title">
            <h5> Cotizacion 25 de enero 2019</h5>
            <h6 class="blue-text">Musimundo</h6>
            <p class="grey-text lighten-1-text">465 televisores</p>
            <p class="grey-text lighten-1-text">Caracterizticas: 35 pulgadas, negras, marca Sony</p>
          </div>
          <div class="col s3 description">
            <p>Certificaciónes: ISO 9001</p>
            <p>IRAM</p>
            <p>ISO 1401</p>
          </div>
          <div class="col s3 status">
            <h6> Cotizacion rechazada</h6>
            <a class="waves-effect waves-light btn-small">Solicitar cotización</a>
            <a class="status-detaill" href="#">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 availbl-cotzacns-items">
      <div class="card-panel #ffffff z-depth-1 card-cotzacns">
        <div class="row">
          <div class="col s3 card-cotzacns--img">
            <img class="responsive-img z-depth-1"
              src="https://http2.mlstatic.com/silla-vestida-tap-chenille-raya-o-ecocuero-super-oferta-D_NQ_NP_643005-MLA31046658120_062019-F.webp"
              alt="comedor">
          </div>
          <div class="col s4 title">
            <h5> Cotizacion 25 de enero 2019</h5>
            <h6 class="blue-text">Musimundo</h6>
            <p class="grey-text lighten-1-text">465 televisores</p>
            <p class="grey-text lighten-1-text">Caracterizticas: 35 pulgadas, negras, marca Sony</p>
          </div>
          <div class="col s3 description">
            <p>Certificaciónes: ISO 9001</p>
            <p>IRAM</p>
            <p>ISO 1401</p>
          </div>
          <div class="col s3 status">
            <h6> Cotizacion rechazada</h6>
            <a class="waves-effect waves-light btn-small">Solicitar nuevamente</a>
            <a class="status-detaill" href="#">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>