$height-detail:600;

.detail-products{
  padding:$spacing-40;

  .detail-products--photos{
    padding: 0;
  }

  .detail-products--breadcrumb{
    background: $gray-100;
    padding-left: $spacing-20;
    @include flex-start;
    p{
      color:$gray-600;
      margin:$spacing-16 $spacing-4;
    }
    p:last-child{
      color:$secondary-color;
    }
  }

  .card-detail{
    min-height:($height-detail+50px);
    padding: $spacing-20;
    padding-bottom: 24px;
    margin-top: 0;
    .material-icons{
      display: block;
      float:right;
    }
    .card-detail--information{
      padding:$spacing-32 $spacing-8;
      h5{
        color:$secondary-color;
      }
      h6{
        margin-bottom: $spacing-8;
      }
      .detail{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: $spacing-32;
      }
      .btn{
        margin-bottom: 54px;
      }
      .seller-data{

      }
      .addres{
        @include flex-start;
        font-size: 12px;
        font-weight: 300;
        color:$gray-600;
        margin-bottom: 84px;
        .material-icons{
          color:$secondary-color;
          display: block;
          float: none;
          margin-right: 20px;
        }
      }
    }
  }

  .detail-products--photo-min{
    @include flex-column;
    height: ($height-detail+px);
    max-height: ($height-detail+px);
    overflow-x: scroll;
    overflow-y: visible;
    span{
      width: 80px;
      height: 80px;
      display:flex;
      background: $white;
      margin-bottom: $spacing-8;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

  .detail-products--photo-container{
    height: ($height-detail+px);
    margin-bottom: $spacing-8;
    span{
      width: 80%;
      display:flex;
      background: $white;
      margin-left:4%;
      height: ($height-detail+px);
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

}