<div class="container">
<div class="card-panel #ffffff z-depth-1">
    <div class="row right-align">
            <i class="material-icons">favorite</i>
    </div>
        <div class="row">
            <div class="col s2">
                <img class="responsive-img z-depth-1" src="img/Pintura-en-la-decoración-comedor-moderno.jpg" alt="comedor">
            </div>
            <div class="col s4">
                <h5 class="blue-text">Musimundo</h5>
                <p class="grey-text lighten-1-text">465 televisores</p>
                <p class="grey-text lighten-1-text">Caracterizticas: 35 pulgadas, negras, marca Sony</p>
            </div>
            <div class="col s2">
                <p>Certificaciónes: ISO 9001</p>
                <p>IRAM</p>
                <p>ISO 1401</p>
            </div>
            <div class="col s4 right-align">
                <a href="#modalCertificado" class=" modal-trigger waves-effect waves-light btn-small">Solicitar cotización</a>
                <a href="#">Ver detalle</a>
            </div>
        </div>
    </div>
</div>

<div id="modalRequest" class="modal modals-container"> <!--modal solicitar cotización-->
    <div class="modal-content modals--cotizacion">
        <div class="row">
           <i class="tiny material-icons close">clear</i>
        <div class="col s12">
            <h5> Solicitar cotización!</h5>
        </div>
            <div class="col s12">
            <div class="col s3 z-depth-1 modal--img">
                    <img src="https://via.placeholder.com/100x100?text=100x100+Logo">                 
            </div>
            <div class="col s9">
                <div class="col s12 modals--subtitle">
                    <h5>Mesa y sillas</h5>
                    <h6>Musimundo</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="col s12 modals--cantidad">
                    <p>Ingrese la cantidad de unidades a solicitar.</p>
                    <div class="col s5">
                        <input type="text" name="" id="" placeholder="10 unidades">
                    </div>
                    <div class="col s4 modals--lote">
                        <p>Lote: xx</p>
                        <p>Max:xx</p>
                    </div>
                    </div>
                <div class="col s12">
                    <p class="modals--disponible">(800 disponibles)</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col s12">
            <textarea name="" id="" cols="12" rows="5"></textarea>
        </div>
        <div class="col s12 modals--submit">
                <button class="btn waves-effect waves-light center-align" type="submit" name="action">Cargar archivo</button>
                <p>El archivo debe ser inferior a 500MB</p>
        </div>
        <div class="col s12 modals--footer">
                <button href="#modalSucess" class=" modal-trigger btn waves-effect waves-light" type="submit" name="action">Solicitar cotización</button>
        </div>
        
        </div>
    </div>
</div>

<div id="modalSucess" class="modal modals-container"> <!--modal cotización solicitada-->
    <div class="modal-content modals--sucess">
        <i class="tiny material-icons close">clear</i>
        <div class="row">
        <div class="col s12">
            <h5>Cotización solicitada con éxito!</h5>
        </div>
        <div class="col s12 modals--sucessCenter"> 
            <p>La cotización ya fue solicitada al proveedor</p>
        </div>
        <div class="col s12 modals--detail">
            <h6>DETALLE:</h6>
            <p>Producto: 456 sillas negras</p>
            <p>Proveedor: Musimundo</p>
            <p>Fecha de cotización: 02/06/2019</p>
        </div>
    </div>
</div>
</div>

<div id="modalProduct" class="modal modals-container"> <!--modal cargar un nuevo producto-->
    <div class="modal-content modals--product">
        <i class="tiny material-icons close">clear</i>
        <div class="row">
        <div class="col s12">
            <h5>Carga un nuevo producto!</h5>
            <label for="productname">Nombre del producto:</label>
            <input type="text" name="productname" id="" placeholder="Ej:Televisiones led">
            
            <label for="description">Descripción:</label>
            <input type="text" name="description" id="" placeholder="loremipsum loremipsum  loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum">
        </div>
        <!--Categorias-->
        <div class="col s12">
        <div class="input-field col s4 modals--select">
        <select>
            <option value="" selected>Categorias</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        </div>
            <div class="col s8">
            <label>Selecciona la categoria más acorde al producto que querés publicar</label>
            </div>
        </div>

        <div class="col s12 modals--next">
            <!--submit con flecha-->
            <a href="#"> Siguiente </a><i class="small material-icons modals--arrow">navigate_next</i>
        </div>
  </div>

     
        </div>
    </div>

<div id="modalStock" class="modal modals-container"> <!--modal cargar un nuevo producto l2-->
    <div class="modal-content modals--product">
        <i class="tiny material-icons close">clear</i>
        <div class="row">
        <div class="col s12">
            <label for="stock">Stock disponible</label>
            <input type="number" name="stock" id="" placeholder="Ej:476">
 
            <label for="size">Tamaño del lote</label>
            <input type="number" name="size" id="" placeholder="Ej:476">
 
            <label for="maxAmount">Cantidad Máxima</label>
            <input type="text" name="maxAmount" id="" placeholder="Ej:476">
 
            <label for="minAmount">Cantidad mínima</label>
            <input type="text" name="minAmount" id="" placeholder="Ej:476">
 
            <label for="timeSend">Tiempo estimado de entrega</label>
            <input type="text" name="timeSend" id="" placeholder="Ej:476">
            <p>El plazo de entrega del producto de esta cotización se confirma al momento de recibir su pedido</p>
        </div>
           <div class="col s12 modals--next">
            <!--submit con flecha-->
            <a href="#"> Siguiente </a><i class="small material-icons modals--arrow">navigate_next</i>
        </div>
        </div>
    </div>
</div>

<div id="modalMoreProduct" class="modal modals-container"> <!--modal cargar un nuevo producto-->
    <div class="modal-content modals--AddProduct">
        <i class="tiny material-icons close">clear</i>
        <div class="row">
        <div class="col s12">
            <label for="productname">Palabras clave:</label>
            <input type="text" name="productname" id="" placeholder="Ej:Televisiones led">
        </div>
            <div class="col s12">
            <p class="col s2 modals--CargaSubtitle">Imágenes</p>
            <p class="col s8">adjuntar imágenes del producto. Preferentemente en alta calidad</p> 
            </div>
            <div class="col s12 modals--CargaImg">
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                  <img src="https://via.placeholder.com/100x100?text=100x100+Logo">               
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                  <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                  <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                 
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                 <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                 <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                  <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>               
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                  <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                  <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                 
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                 <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                
              </div>
            </div>
            <div class="col s2 card-panel z-depth-1 cargar--product">
              <div>
                 <img src=""> <i class="medium material-icons cargar--add">add_a_photo</i>                
              </div>
            </div>
        </div>
             <div class="col s12 modals--next">
            <!--submit con flecha-->
            <a href="#"> Siguiente </a><i class="small material-icons modals--arrow">navigate_next</i>
            </div>
        </div>
        </div>
</div>

<div id="modalCertificado" class="modal modals-container"> <!--modal certificación-->
    <div class="modal-content modals--sucess">
        <i class="tiny material-icons close">clear</i>
        <div class="row">
        <div class="col s12">
            <h5>Certificaciones del producto</h5>
        </div>
        <div class="col s12 modals--sucessCenter"> 
            <p>Escriba el nombre de la certificación o seleccione una de las opciones debajo</p>
            <input type="text" placeholder="Ej: ISO 9001">
        </div>
        <div class="col s12 modals--detail">
            <h6>DETALLE:</h6>
            <p>Producto: 456 sillas negras</p>
            <p>Proveedor: Musimundo</p>
            <p>Fecha de cotización: 02/06/2019</p>
        </div>
        <div class="col s12 modals--footer">
            <button class=" col s4 btn waves-effect waves-light modals--button" type="submit" name="action">Guardar</button>
            <button class=" col s4 btn waves-effect waves-light modals--button" type="submit" name="action">Cancelar</button>
        </div>
    </div>
</div>
</div>
    