<div class="container-fluid messages">
  <div class="row">
    <div class="col s6 m6 l4 messages--history">
      <div class="card-panel #ffffff z-depth-1">
        <div class="messages--history-header">
          <p>Bandejad e entrada</p>
          <span>
            <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
          </span>
        </div>
        <div class="messages--history-list">
          <div class="input-field col s12 ">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
            <i class="material-icons prefix">search</i>
          </div>
          <div>
            <ul>
              <li>
                <div class="col s12 messages--list-item">
                  <div class="messages--list-item-header">
                    <div>
                      <span class="img-container">
                        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
                      </span>
                      <p>lorem ipsum</p>
                    </div>

                    <span>vence</span>
                  </div>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo pariatur expedita excepturi
                    delectus,
                  </p>
                </div>
              </li>
              <li>
                <div class="col s12 messages--list-item">
                  <div class="messages--list-item-header">
                    <div>
                      <span class="img-container">
                        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
                      </span>
                      <p>lorem ipsum</p>
                    </div>

                    <span>vence</span>
                  </div>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo pariatur expedita excepturi
                    delectus,
                  </p>
                </div>
              </li>
              <li>
                <div class="col s12 messages--list-item">
                  <div class="messages--list-item-header">
                    <div>
                      <span class="img-container">
                        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
                      </span>
                      <p>lorem ipsum</p>
                    </div>

                    <span>vence</span>
                  </div>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo pariatur expedita excepturi
                    delectus,
                  </p>
                </div>
              </li>
              <li>
                <div class="col s12 messages--list-item">
                  <div class="messages--list-item-header">
                    <div>
                      <span class="img-container">
                        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
                      </span>
                      <p>lorem ipsum</p>
                    </div>

                    <span>vence</span>
                  </div>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo pariatur expedita excepturi
                    delectus,
                  </p>
                </div>
              </li>
              <li>
                <div class="col s12 messages--list-item">
                  <div class="messages--list-item-header">
                    <div>
                      <span class="img-container">
                        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
                      </span>
                      <p>lorem ipsum</p>
                    </div>

                    <span>vence</span>
                  </div>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo pariatur expedita excepturi
                    delectus,
                  </p>
                </div>
              </li>



            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="col s6 m6 l8">
      <div class="card-panel messages--chat z-depth-1">
        <p class="help-message">lorem ipsum</p>
        <ul class="chat">
          <li class="chat-question">
            <span class="img-container">
              <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
            </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam ratione, assumenda quibusdam
              laudantium corporis sint iusto rerum amet necessitatibus temporibus placeat earum iste, veniam voluptate
              labore doloremque sit molestiae.</p>
          </li>
          <li class="chat-answers">
            <span class="img-container">
              <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
            </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam ratione, assumenda quibusdam
              laudantium corporis sint iusto rerum amet necessitatibus temporibus placeat earum iste, veniam voluptate
              labore doloremque sit molestiae.</p>
          </li>
          <li class="chat-answers">
            <span class="img-container">
              <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
            </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam ratione, assumenda quibusdam
              laudantium corporis sint iusto rerum amet necessitatibus temporibus placeat earum iste, veniam voluptate
              labore doloremque sit molestiae.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>