<div class="row">
    <div class="col s5 offset-s4 card-panel #ffffff z-depth-1">
        
        <div class="row">
        <div class="col s4">
        <img src="https://via.placeholder.com/10x15?text=10x15+Logo">
        </div>
        </div>

        <section class="row">
            <div class="col s10 offset-s1 row">
            <label class="grey-text darken-1-text" for="email">Dirección de correo electrónico</label>
            <input type="email" name="email" id="">
            </div>
            <div class="col s10 offset-s1 row">
            <label class="col s4 grey-text darken-1-text" for="password">Contraseña</label>
            <label class="col s8 right-align"><a href="#">¿Olvidaste tu contraseña?</a></label>
            <input type="password" name="password" id="">
            </div>
            <div class="col s10 offset-s1 row">
            <button class=" col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Iniciar sesión</button>
            <p>Al continuar, acepetas las Condiciones de uso y el Aviso de privacidad de 4BIZ</p>
            </div>
        </section>
        <div class="row">
            <section class="col s10 offset-s1 center-align">
                <a class="row" href="#">¿No tenes una cuenta de 4BIZ?</a>
                <button class="col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Crea tu cuenta</button>
            </section>
        </div>
    </div>
</div>