<div class="row login">
    <div class="col card-panel z-depth-1 card--login">
        
        <div class="row login--img">
            <div class="col s12">
                 <img src="https://via.placeholder.com/10x15?text=10x15+Logo">
            </div>
        </div>

        <section class="row col s12 login--input">
            <div class="col s12">
            <label class="col s12" for="email">Dirección de correo electrónico</label>
            <input type="email" name="email" id="">
            </div>
            <div class="col s12">
            <label class="col s4" for="password">Contraseña</label>
            <label class="col s8 right-align"><a href="#">¿Olvidaste tu contraseña?</a></label>
            <input type="password" name="password" id="">
            </div>
            <div class="col s12">
            <button class=" col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Iniciar sesión</button>
            <p>Al continuar, aceptas las Condiciones de uso y el Aviso de privacidad de 4BIZ</p>
            </div>
            <div class=" login--noregistre">
            <section class="col s12">
                <p>¿No tenes una cuenta de 4BIZ?</p>
                <button class="col s12 btn waves-effect waves-light center-align row" type="submit" name="action">Crea tu cuenta</button>
            </section>
        </div>
        </section>
        
    </div>