<div id="budgetCreate_{{id}}" class="modal modals-container modals--product">
    <div class="modal-content ">

        <a href="#!" style="position:absolute;top:5px;right:5px;" class="modal-close">
            <i class="tiny material-icons close">clear</i>
        </a>

        <h5>Ofrece tu presupuesto!</h5>

        <div class="row">
            <form method="post" action="/api/budgets" enctype="multipart/form-data">

                <ul class="stepper horizontal" id="stepper_{{id}}">

                    <li class="step">
                        <div class="step-title waves-effect">Información</div>
                        <div class="step-content">
                            <div class="col s12">
                                {{#product}}
                                <div class="col s2 card-panel z-depth-1 cargar--product">
                                    <img class="materialboxed"
                                         height="80"
                                         width="80"
                                         src="{{mainImage}}">
                                </div>

                                <div class="col s8">
                                    <h5 class="blue-grey-text">{{name}}</h5>
                                    <p class="lighten-1-text">{{description}}</p>
                                </div>
                                <div class="col s2">
                                    <p class="grey-text lighten-1-text"> {{minimum}} Min</p>
                                    <p class="grey-text lighten-1-text"> {{maximum}} Max</p>
                                    <p class="grey-text lighten-1-text"> {{batch}}{{batchSize}} Lote</p>
                                </div>
                                {{/product}}
                            </div>

                            <div class="col s12">
                                <h5 class="blue-grey-text">Tipos de Facturación Solicitados</h5>
                                {{#requestedBilling}}
                                    <div class="chip">
                                        {{toHTMLString}}
                                    </div>
                                {{/requestedBilling}}
                            </div>

                            <div class="step-actions">
                                <button class="col s5 waves-effect waves-dark btn next-step">Siguiente</button>
                                <div class="col s1"></div>
                                <a href="#!" class="col s5 modal-close waves-effect waves-dark btn btn-flat">Cancelar</a>
                            </div>
                        </div>
                    </li>

                    <li class="step">
                        <div class="step-title waves-effect">Cotizar</div>
                        <div class="step-content">

                            <input type="hidden" name="pricingId" value="{{id}}">

                            <div class="col s12">
                                <div class="col s6">
                                    <label for="price">Precio Unitario</label>
                                    <input id="budget_price" type="number" name="price" step="0.01" required>
                                </div>

                                <div class="col s6">
                                    <label for="quantity">Cantidad total</label>
                                    <input id="budget_quantity" type="number" name="quantity" required>
                                </div>
                            </div>

                            <div class="col s12">
                                <div class="input-field col s6">
                                    <select name="iva" id="iva">
                                        <option value="0">0 %</option>
                                        <option value="10.5">10.5 %</option>
                                        <option value="21">21 %</option>
                                    </select>
                                    <label>Porcentaje IVA</label>
                                </div>

                                <div class="input-field col s6">
                                    <select id="selectedBilling" name="selectedBilling">
                                        {{#requestedBilling}}
                                            <option value="{{name}}">{{toHTMLString}}</option>
                                        {{/requestedBilling}}
                                    </select>
                                    <label>Facturación</label>
                                </div>
                            </div>


                            <div class="col s12">
                                <div class="col s6">
                                    <label for="total">Precio Total (s/ IVA)</label>
                                    <input id="total_price" type="number" name="total" step="0.01" style='pointer-events: none;'>
                                </div>

                                <div class="input-field col s6">
                                </div>
                            </div>

                            <div class="col s12">
                                <div class="col s6">
                                    <span class="taxes" id="taxes">
                                    </span>
                                </div>

                                <div class="col s6">
                                </div>
                            </div>

                            <div class="step-actions">
                                <button class="col s5 waves-effect waves-dark btn next-step">Siguiente</button>
                                <div class="col s1"></div>
                                <button class="col s5 waves-effect waves-dark btn btn-flat previous-step">Anterior</button>
                            </div>
                        </div>
                    </li>

                    <li class="step">
                        <div class="step-title waves-effect">Vigencia</div>
                        <div class="step-content">

                            <div class="col s12">
                                <div class="col s6">
                                    <label for="delivery">Plazo de Entrega (días)</label>
                                    <input type="number" name="delivery" min="0" max="90" required>
                                </div>
                                <div class="col s6">
                                    <label for="ttl">Vigencia de la Propuesta (días)</label>
                                    <input type="number" name="ttl" min="0" max="14" required>
                                </div>
                            </div>

                            <div class="step-actions">
                                <button class="col s5 waves-effect waves-dark btn next-step">Siguiente</button>
                                <div class="col s1"></div>
                                <button class="col s5 waves-effect waves-dark btn btn-flat previous-step">Anterior</button>
                            </div>
                        </div>
                    </li>


                    <li class="step">
                        <div class="step-title waves-effect">Adjuntos</div>
                        <div class="step-content">
                            <div class="col s12 modals--sucessCenter">
                                <p>Elija los adjuntos que desea presentar</p>
                            </div>

                            <div class="col s12 modals--sucessCenter">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Adjuntos</span>
                                        <input type="file" name="attachments" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Subí una o más archivos">
                                    </div>
                                </div>
                            </div>

                            <div class="step-actions">
                                <button type="submit"
                                        class="col s5 waves-effect waves-dark btn">Cotizar</button>
                                <div class="col s1"></div>
                                <button class="col s5 waves-effect waves-dark btn btn-flat previous-step">Anterior</button>
                            </div>
                        </div>
                    </li>
                </ul>

            </form>
        </div>

    </div>
</div>