<script>
        {{#pricings}}
            var stepper = document.querySelector('#stepper_{{id}}');
            new MStepper(stepper, {
                firstActive: 0
            });
                {{#budget}}
                var budgetStepper = document.querySelector('#stepper_{{id}}');
                new MStepper(budgetStepper, {
                    firstActive: 0
                });
                {{/budget}}
        {{/pricings}}
</script>
<script>
    $(window).load(function(){

        function setTotalPrice(priceItem, quantityItem, valueHolder){
            var price = parseFloat(
                    $(priceItem).val()
            );
            var quantity = parseInt(
                    $(quantityItem).val()
            );

            var total = price * quantity;

            $(valueHolder).val(total);
        }

        function setTaxes(totalItem, taxItem, valueHolder) {
            var price = parseFloat($(totalItem).val());
            var iva = parseFloat($(taxItem).val());

            var taxes = price * (iva / 100);

            if(isNaN(taxes)) {
                taxes = 0;
            }

            if(taxes == 0){
                $(valueHolder).hide();
            } else {
                $(valueHolder).text("IVA: $ " + taxes);
                $(valueHolder).show();
            }

        }

        {{#pricings}}
            $('#budget_price_{{id}}').on('change', function() {
                setTotalPrice(
                        $( "#budget_price_{{id}}"),
                        $( "#budget_quantity_{{id}}"),
                        $('#total_price_{{id}}')
                );
                setTaxes(
                        $( "#total_price_{{id}}"),
                        $("#iva_{{id}} option:selected"),
                        $('#taxes_{{id}}')
                );
            });
            $('#budget_quantity_{{id}}').on('change', function() {
                setTotalPrice(
                        $( "#budget_price_{{id}}"),
                        $( "#budget_quantity_{{id}}"),
                        $('#total_price_{{id}}')
                );
                setTaxes(
                        $( "#total_price_{{id}}"),
                        $("#iva_{{id}} option:selected"),
                        $('#taxes_{{id}}')
                );
            });

            $('#iva_{{id}}').on('change', function() {
                setTaxes(
                        $( "#total_price_{{id}}"),
                        $("#iva_{{id}} option:selected"),
                        $('#taxes_{{id}}')
                );
            });
        {{/pricings}}
    });
</script>