{{#budgetPending}}
    <p>
        <a class="waves-effect waves-light btn modal-trigger" href="#budgetEdit_$id">Editar Cotización</a>
    </p>
{{/budgetPending}}

{{#pricingPending}}
    <p>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#budgetCreate_{{id}}">
            Ofrecer Cotización
        </a>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#budgetCancel_{{id}}">
            Rechazar Cotización
        </a>
    </p>
{{/pricingPending}}

{{#approved}}
    <p>
        {{#budget}}
            {{#chat}}
                <a class="waves-effect waves-light btn"
                   href="/seller/messages/{{id}}">
                    Ver Mensajes
                </a>
            {{/chat}}
            {{^chat}}
                <a class="waves-effect waves-light btn"
                   href="/seller/messages">
                    Ver Mensajes
                </a>
            {{/chat}}
        {{/budget}}
    </p>
{{/approved}}

{{#budgetRejected}}
    <p>
    </p>
{{/budgetRejected}}

{{#pricingRejected}}
    <p>
    </p>
{{/pricingRejected}}