{{#budgetPending}}
    <p>
        <a class="waves-effect waves-light btn modal-trigger" href="#budgetEdit_$id">Editar Cotización</a>
    </p>
{{/budgetPending}}

{{#pricingPending}}
    <p>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#budgetCreate_{{id}}">
            Ofrecer Cotización
        </a>
        <a class="waves-effect waves-light btn modal-trigger"
           href="#budgetCancel_{{id}}">
            Rechazar Cotización
        </a>
    </p>
{{/pricingPending}}

{{#approved}}
    <p>
        <a class="waves-effect waves-light btn" href="#">Ver Mensajes</a>
    </p>
{{/approved}}

{{#budgetRejected}}
    <p>
    </p>
{{/budgetRejected}}

{{#pricingRejected}}
    <p>
    </p>
{{/pricingRejected}}