<script type="application/javascript">
    $(document).ready(function(){
        $('.materialboxed').materialbox();
        $('.slider').slider();
    });

    $('#imagesModal').modal({
    });

</script>
<script>
    {{#pricing}}
        var stepper = document.querySelector('#stepper_{{id}}');
        new MStepper(stepper, {
            firstActive: 0
        });
        {{#budget}}
            var budgetStepper = document.querySelector('#stepper_{{id}}');
            new MStepper(budgetStepper, {
                firstActive: 0
            });
        {{/budget}}
    {{/pricing}}
</script>
<script>
    $(window).load(function(){

        function setTotalPrice(){
            var price = parseFloat($( "#budget_price" ).val());
            var quantity = parseInt($( "#budget_quantity" ).val());

            var total = price * quantity;

            $('#total_price').val(total);
        }

        function setTaxes(){
            var price = parseFloat($( "#total_price" ).val());
            var iva = parseFloat($("#iva option:selected" ).val());

            var taxes = price * (iva / 100);

            if(isNaN(taxes)) {
                taxes = 0;
            }

            if(taxes == 0){
                $('#taxes').hide();
            } else {
                $('#taxes').text("IVA: $ " + taxes);
                $('#taxes').show();
            }

        }

        $('#budget_price').on('change', function() {
            setTotalPrice();
            setTaxes()
        });
        $('#budget_quantity').on('change', function() {
            setTotalPrice();
            setTaxes()
        });

        $('#iva').on('change', function() {
            setTaxes()
        });
    });
</script>