<script type="application/javascript">
    $(document).ready(function(){
        $('.materialboxed').materialbox();
        $('.slider').slider();
    });

    $('#imagesModal').modal({
    });

</script>
<script>
    {{#pricing}}
        var stepper = document.querySelector('#stepper_{{id}}');
        new MStepper(stepper, {
            firstActive: 0
        });
        {{#budget}}
            var budgetStepper = document.querySelector('#stepper_{{id}}');
            new MStepper(budgetStepper, {
                firstActive: 0
            });
        {{/budget}}
    {{/pricing}}

    $(window).load(function(){
        $('#budget_price').on('change', function() {
            var price = parseFloat($( "#budget_price" ).val());
            var quantity = parseInt($( "#budget_quantity" ).val());

            var total = price * quantity;

            $('#total_price').val(total);
        });
        $('#budget_quantity').on('change', function() {
            var price = parseFloat($( "#budget_price" ).val());
            var quantity = parseInt($( "#budget_quantity" ).val());

            var total = price * quantity;

            $('#total_price').val(total);
        });
    });
</script>