<!--Received Message-->
<li class="chat-answers">
    <span class="img-container">
        <img src="https://via.placeholder.com/468x200?text=468x373+Full+Banner" alt="">
    </span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam ratione, assumenda quibusdam
        laudantium corporis sint iusto rerum amet necessitatibus temporibus placeat earum iste, veniam voluptate
        labore doloremque sit molestiae.
    </p>
</li>
